<fs-examples [config]="config">
  <fs-example
      name="Kitchen Sink"
      componentName="kitchensink">
    <kitchensink></kitchensink>
  </fs-example>
  <!-- <fs-example
      name="Groups"
      componentName="groups">
    <groups></groups>
  </fs-example>
  <fs-example
      name="Row Actions / Remove"
      componentPath="remove/simple"
      componentName="simple">
    <remove-simple></remove-simple>
  </fs-example>
  <fs-example
      name="Row Actions / Remove with Confirmation"
      componentPath="remove/confirm"
      componentName="confirm">
    <remove-confirm></remove-confirm>
  </fs-example>
  <fs-example
      name="Filters"
      componentName="filters">
    <filters></filters>
  </fs-example>
  <fs-example
      name="Restore"
      componentName="restore">
    <restore></restore>
  </fs-example>
  <fs-example
      name="Sortable"
      componentName="sortable">
    <sortable></sortable>
  </fs-example>
  <fs-example
      name="Reorder with Toggle"
      componentPath="reorder/toggle"
      componentName="toggle">
    <toggle-reorder></toggle-reorder>
  </fs-example>
  <fs-example
      name="Reorder"
      componentPath="reorder/manual"
      componentName="manual">
    <manual-reorder></manual-reorder>
  </fs-example>
  <fs-example
      name="Selection"
      componentName="selection">
    <selection></selection>
  </fs-example>
  <fs-example
      name="Selection with reorder"
      componentName="selection">
    <selection-reorder></selection-reorder>
  </fs-example>
  <fs-example
      name="Load More"
      componentName="load-more">
    <load-more></load-more>
  </fs-example>
  <fs-example
      name="No Results"
      componentName="no-results">
    <no-results></no-results>
  </fs-example>
  <fs-example
      name="Empty State"
      componentName="empty-state">
    <empty-state></empty-state>
  </fs-example>
  <fs-example
      name="Table Style"
      componentName="app-style">
    <app-style></app-style>
  </fs-example> -->
</fs-examples>