<fs-examples
  title="List"
  githubUrl="https://github.com/Firestitch/fs-list"
  npmUrl="https://www.npmjs.com/package/@firestitch/list">

  <fs-example title="Selection" componentName="selection">
    <selection></selection>
  </fs-example>

  <!--<fs-example title="Actions" componentName="actions">
    <actions></actions>
  </fs-example>

  <fs-example title="Row Actions" componentName="row-actions">
    <row-actions></row-actions>
  </fs-example>

  <fs-example title="Filters" componentName="filters">
    <filters></filters>
  </fs-example>

  <fs-example title="Filters Extended" componentName="filters-extended">
    <filters-extended></filters-extended>
  </fs-example>

  <fs-example title="Restore" componentName="restore">
    <restore></restore>
  </fs-example>

  <fs-example title="Sortable" componentName="sortable">
    <sortable></sortable>
  </fs-example>

  <fs-example title="Reorder" componentName="reorder">
    <reorder></reorder>
  </fs-example>

  <fs-example title="Kitchen Sink" componentName="kitchensink">
    <kitchensink></kitchensink>
  </fs-example>

  <fs-example title="Infinite Scroll" componentName="infinity-scroll">
    <infinity-scroll></infinity-scroll>
  </fs-example>-->
</fs-examples>
