<fs-examples [config]="config">

  <app-global-strategy fs-examples-extra></app-global-strategy>

  <fs-example name="Kitchen Sink" componentName="kitchensink">
    <kitchensink></kitchensink>
  </fs-example>
<!--
  <fs-example name="Groups" componentName="groups">
    <groups></groups>
  </fs-example>

  <fs-example name="Row Actions / Remove" componentPath="remove/simple" componentName="simple">
    <remove-simple></remove-simple>
  </fs-example>

  <fs-example name="Row Actions / Remove with Confirmation" componentPath="remove/confirm" componentName="confirm">
    <remove-confirm></remove-confirm>
  </fs-example>

  <fs-example name="Filters" componentName="filters">
    <filters></filters>
  </fs-example>


  <fs-example name="Restore" componentName="restore">
    <restore></restore>
  </fs-example>

  <fs-example name="Sortable" componentName="sortable">
    <sortable></sortable>
  </fs-example>

  <fs-example name="Always Reorder" componentPath="reorder/always" componentName="always">
    <always-reorder></always-reorder>
  </fs-example>

  <fs-example name="Manual Reorder" componentPath="reorder/manual" componentName="manual">
    <manual-reorder></manual-reorder>
  </fs-example>
  <fs-example name="Selection" componentName="selection">
    <selection></selection>
  </fs-example>

  <fs-example name="Infinite Scroll" componentName="infinity-scroll">
    <infinity-scroll></infinity-scroll>
  </fs-example>
 -->
</fs-examples>
