<ng-container *ngIf="!file else withFile">
  <mat-icon *ngIf="icon">{{icon}}</mat-icon>
  {{label| actionLabel:row}}
</ng-container>

<ng-template #withFile>
  <fs-file
      class="action-button"
      [accept]="file.accept || '*'"
      [multiple]="file.multiple"
      [minWidth]="file.minWidth"
      [minHeight]="file.minHeight"
      [imageWidth]="file.maxWidth"
      [imageHeight]="file.maxHeight"
      (click)="$event.stopPropagation();"
      (select)="selectFile($event)"
      (error)="errorFile($event)"
      (cancel)="closeMenu()">
    <mat-icon *ngIf="icon">{{icon}}</mat-icon>
    {{label| actionLabel:row}}
  </fs-file>
</ng-template>
