<ng-container *ngFor="let row of rows; let i = index;">
  <tr fs-list-row
      fsListDraggableRow
      [row]="row"
      [rowIndex]="i"
      [columns]="columns"
      [rowActionsRaw]="rowActionsRaw"
      [groupActionsRaw]="groupActionsRaw"
      [hasRowActions]="hasRowActions"
      [rowEvents]="rowEvents"
      [rowClass]="rowClass"
      [selection]="selection"
      [restoreMode]="restoreMode"
      [ngClass]="{ 'drag-row': reorderContoller.enabled }"
      [rowRemoved]="rowRemoved"
      [trackBy]="trackBy"
      #activeRow>
  </tr>
</ng-container>
