<ng-container *ngFor="let row of rows; let i = index;">
  <tr fs-list-row
      [row]="row"
      [rowIndex]="i"
      [columns]="columns"
      [rowActionsRaw]="rowActionsRaw"
      [groupActionsRaw]="groupActionsRaw"
      [hasRowActions]="hasRowActions"
      [rowEvents]="rowEvents"
      [rowClass]="rowClass"
      [reorderEnabled]="reorderEnabled"
      [reorderPosition]="reorderPosition"
      [reorderStrategy]="reorderStrategy"
      [selection]="selection"
      [restoreMode]="restoreMode"
      [ngClass]="{ 'drag-row': reorderEnabled }"
      [dragStart]="startDrag"
      [activeRow]="activeRow"
      [rowRemoved]="rowRemoved"
      #activeRow>
  </tr>
</ng-container>
