<div class="controls">
  <div class="info">
    @if (state === 'data') {
      <p>
        <b>
          Currently list has data:
        </b>
        {{ tmpData | json }}
      </p>
    }
    @if (state === 'empty') {
      <p>
        <b>
          Currently list received empty response
        </b>
      </p>
    }
    @if (valid) {
      <p>
        Validation function returns
        <b style="color: green">
          TRUE
        </b>
      </p>
    }
    @if (!valid) {
      <p>
        Validation function returns
        <b style="color: red">
          FALSE
        </b>
      </p>
    }
  </div>
  <div class="actions">
    <button
      mat-stroked-button
      (click)="toggleEmptyDataStates()">
      @if (state === 'empty') {
        Toggle To Data State
      } @else {
        Toggle To Empty State
      }
    </button>
    <button
      mat-stroked-button
      (click)="toggleValidState()">
      @if (!valid) {
        Toggle Valid Empty State
      } @else {
        Toggle InValid Empty State
      }
    </button>
  </div>
</div>
<fs-list [config]="config">
  <fs-list-column>
    <ng-template fs-list-header>
      №
    </ng-template>
    <ng-template
      fs-list-cell
      let-row="row">
      {{ row.index }}
    </ng-template>
  </fs-list-column>
  <fs-list-column
    name="name"
    title="Name"
    [sortable]="true">
    <ng-template
      fs-list-cell
      let-row="row">
      {{ row.value }}
    </ng-template>
  </fs-list-column>
  <fs-list-column
    name="guid"
    title="GUID"
    [sortable]="true">
    <ng-template
      fs-list-cell
      let-row="row">
      {{ row.guid }}
    </ng-template>
  </fs-list-column>
  <ng-container fs-list-content>
    content
  </ng-container>
  <ng-template fs-list-empty-state>
    <div class="empty-state">
      <p>
        Currently there are no events
      </p>
      <button
        mat-stroked-button
        color="primary">
        Create your first event
      </button>
    </div>
  </ng-template>
</fs-list>