<ng-container *ngFor="let column of columns">
  <td fs-cell
      *ngIf="!column.cellColspanned"
      [column]="column"
      [row]="row"
      [rowIndex]="rowIndex"
      [ngClass]="column.cellConfigs.classesArray"
      [attr.colspan]="column.cellConfigs.colspan"
      [attr.width]="column.width">
  </td>
</ng-container>

<!-- Drag -->
<td class="fs-list-col drag-col" *ngIf="reorder">
  <mat-icon>drag_handle</mat-icon>
</td>

<!-- Row Actions -->
<td *ngIf="rowActions?.length > 0 && !reorder" class="fs-list-col row-actions">
  <span *ngFor="let action of inlineRowActions"
        class="row-inline-action row-inline-action-{{action.type}}"
        [ngClass]="{'mobile-hide': action.menu === undefined}"
  >
    <ng-container *ngIf="action.isShown" [ngSwitch]="action.type">
      <!-- Basic button -->
      <button type="button"
              *ngSwitchCase="'basic'"
              mat-button
              (click)="$event.stopPropagation(); action.click(row, $event)"
              [ngClass]="action.classArray"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>

        <!-- Raised button -->
      <button type="button"
              *ngSwitchCase="'raised'"
              mat-raised-button
              (click)="$event.stopPropagation(); action.click(row, $event)"
              [ngClass]="action.classArray"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>

        <!-- Icon button -->
      <button type="button"
              *ngSwitchCase="'icon'"
              mat-icon-button
              (click)="$event.stopPropagation(); action.click(row, $event)"
              [ngClass]="action.classArray"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>

        <!-- Fab button -->
      <button type="button"
              *ngSwitchCase="'fab'"
              mat-fab
              (click)="$event.stopPropagation(); action.click(row, $event)"
              [ngClass]="action.classArray"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>

        <!-- Mini Fab button -->
      <button type="button"
              *ngSwitchCase="'mini-fab'"
              mat-mini-fab
              (click)="$event.stopPropagation(); action.click(row, $event)"
              [ngClass]="action.classArray"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>

      <ng-template #buttonContent let-value="value">
        <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon> {{action.label}}
      </ng-template>
    </ng-container>
  </span>

  <!-- Menu -->
  <span class="row-menu-action" *ngIf="menuRowActions.length" (click)="$event.stopPropagation();">
    <button type="button" mat-icon-button [matMenuTriggerFor]="rowActionsRef">
      <mat-icon>more_vert</mat-icon>
    </button>
  </span>
  <mat-menu #rowActionsRef>
    <ng-container *ngFor="let action of inlineRowActions">
      <button type="button" class="hidden-mobile-menu-action"
              mat-menu-item
              *ngIf="action.menu === undefined && action.isShown"
              (click)="$event.stopPropagation(); action.click(row, $event)"
      >
        <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon> {{action.label}}
      </button>
    </ng-container>
    <ng-container *ngFor="let action of menuRowActions">
      <button type="button" mat-menu-item *ngIf="action.isShown" (click)="$event.stopPropagation();  action.click(row, $event)">
        <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon> {{action.label}}
      </button>
    </ng-container>
  </mat-menu>
</td>
