<tr class="fs-list-row">
  <th *ngIf="selection" class="fs-list-col fs-list-col-selection">
    <mat-checkbox (change)="selectAll($event)" [checked]="selectedAll"></mat-checkbox>
  </th>

  <th fs-head-cell *ngFor="let column of columns"
      (click)="$event.stopPropagation(); sorting.sortBy(column)"
      [column]="column"
      [class.sorting]="column.sortable"
      [ngClass]="column.headerConfigs.classesArray"
      [attr.colspan]="column.headerConfigs.colspan"
      [attr.width]="column.width"></th>

  <!-- Drag -->
  <th *ngIf="reorder" class="fs-list-col drag-col"></th>

  <!-- Row Actions -->
  <th *ngIf="hasRowActions && !reorder" class="fs-list-col row-actions"></th>
</tr>
