<tr class="fs-list-row">
  <!-- Drag -->
  <th *ngIf="reorderController.leftReorderActivated$ | async" class="fs-list-col drag-col"></th>

  <!-- Selection -->
  <th *ngIf="selection && !(selection.disabled$ | async)" class="fs-list-col fs-list-col-selection">
    <mat-checkbox (change)="selectAll($event)" [checked]="selectedAll"></mat-checkbox>
  </th>

  <!-- Content -->
  <th fs-head-cell *ngFor="let column of columns; trackBy: trackByFn"
      (click)="$event.stopPropagation(); sorting.sortBy(column)"
      [column]="column"
      [class.sorting]="column.sortable"
      [ngClass]="column.headerConfigs.classesArray"
      [attr.colspan]="column.headerConfigs.colspan"
      [attr.width]="column.width"></th>

  <!-- Drag -->
  <th *ngIf="reorderController.rightReorderActivated$ | async" class="fs-list-col drag-col"></th>

  <!-- Row Actions -->
  <th *ngIf="hasRowActions && !(reorderController.manualReorderActivated$ | async)" class="fs-list-col row-actions"></th>
</tr>
