<tr class="fs-list-row">
  <!-- Drag -->
  @if (leftDragDropEnabled) {
    <th
      class="fs-list-col drag-col">
    </th>
  }
  <!-- Selection -->
  @if (selection && !(selection.disabled$ | async)) {
    <th
      class="fs-list-col fs-list-col-selection">
      <mat-checkbox
        (change)="selectAll($event)"
        [checked]="selectedAll">
      </mat-checkbox>
    </th>
  }
  <!-- Content -->
  @for (column of columns; track trackByFn($index, column)) {
    <th
      fs-head-cell
      (click)="$event.stopPropagation(); sorting.sortBy(column)"
      [column]="column"
      [class.sorting]="column.sortable"
      [ngClass]="column.headerConfigs.classesArray"
      [attr.colspan]="column.headerConfigs.colspan"
      [attr.width]="column.width">
    </th>
  }
  <!-- Drag -->
  @if (rightDragDropEnabled) {
    <th
      class="fs-list-col drag-col">
    </th>
  }
  <!-- Row Actions -->
  @if (hasRowActions && !(reorderEnabled && reorderStrategy === ReorderStrategyEnum.Manual)) {
    <th
      class="fs-list-col actions-col">
    </th>
  }
</tr>