<ng-container
    *ngIf="rowAction.isShown"
    [ngSwitch]="actionType">
  <!-- Basic button -->
  <ng-container *ngSwitchCase="'basic'">
    <ng-container *ngIf="!rowAction.routerLink; else link">
      <button
          type="button"
          mat-button
          (click)="actionClick($event)"
          [ngClass]="rowAction.classArray">
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>
    </ng-container>
    <ng-template #link>
      <a
          mat-button
          [routerLink]="rowAction.routerLink.link"
          [queryParams]="rowAction.routerLink.queryParams">
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </a>
    </ng-template>
  </ng-container>
  <!-- Raised button -->
  <ng-container *ngSwitchCase="'raised'">
    <ng-container *ngIf="!rowAction.routerLink; else link">
      <button
          type="button"
          mat-raised-button
          (click)="actionClick($event)"
          [ngClass]="rowAction.classArray">
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>
    </ng-container>
    <ng-template #link>
      <a
          mat-raised-button
          [routerLink]="rowAction.routerLink.link"
          [queryParams]="rowAction.routerLink.queryParams">
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </a>
    </ng-template>
  </ng-container>
  <!-- Icon button -->
  <ng-container *ngSwitchCase="'icon'">
    <ng-container *ngIf="!rowAction.routerLink; else link">
      <button
          type="button"
          mat-icon-button
          (click)="actionClick($event)"
          [ngClass]="rowAction.classArray">
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>
    </ng-container>
    <ng-template #link>
      <a
          mat-icon-button
          [routerLink]="rowAction.routerLink.link"
          [queryParams]="rowAction.routerLink.queryParams">
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </a>
    </ng-template>
  </ng-container>
  <!-- Fab button -->
  <ng-container *ngSwitchCase="'fab'">
    <ng-container *ngIf="!rowAction.routerLink; else link">
      <button
          type="button"
          mat-fab
          (click)="actionClick($event)"
          [ngClass]="rowAction.classArray">
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>
    </ng-container>
    <ng-template #link>
      <a
          mat-fab
          [routerLink]="rowAction.routerLink.link"
          [queryParams]="rowAction.routerLink.queryParams">
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </a>
    </ng-template>
  </ng-container>
  <!-- Mini Fab button -->
  <ng-container *ngSwitchCase="'mini-fab'">
    <ng-container *ngIf="!rowAction.routerLink; else link">
      <button
          type="button"
          mat-mini-fab
          (click)="actionClick($event)"
          [ngClass]="rowAction.classArray">
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>
    </ng-container>
    <ng-template #link>
      <a
          mat-mini-fab
          [routerLink]="rowAction.routerLink.link"
          [queryParams]="rowAction.routerLink.queryParams">
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </a>
    </ng-template>
  </ng-container>
  <ng-template #buttonContent>
    <ng-container *ngIf="!rowAction.fileConfig else uploadFileBtn">
      <mat-icon *ngIf="icon">
        {{ icon }}
      </mat-icon>
      {{ rowAction.label }}
    </ng-container>
    <ng-template #uploadFileBtn>
      <fs-file
          class="action-button"
          [accept]="rowAction.fileConfig.accept || '*'"
          [multiple]="rowAction.fileConfig.multiple"
          [minWidth]="rowAction.fileConfig.minWidth"
          [minHeight]="rowAction.fileConfig.minHeight"
          [imageWidth]="rowAction.fileConfig.maxWidth"
          [imageHeight]="rowAction.fileConfig.maxHeight"
          (select)="fileSelected($event)"
          (error)="rowAction.fileConfig.error && rowAction.fileConfig.error($event)">
        <mat-icon *ngIf="icon">
          {{ icon }}
        </mat-icon>
        {{ rowAction.label }}
      </fs-file>
    </ng-template>
  </ng-template>
</ng-container>