<ng-template #buttonContent>
  @if (!rowAction?.fileConfig) {
    @if (icon) {
      <mat-icon>
        {{ icon }}
      </mat-icon>
    }
    {{ rowAction?.label }}
  } @else {
    <fs-file
        class="action-button"
        [accept]="rowAction.fileConfig.accept || '*'"
        [multiple]="rowAction.fileConfig.multiple"
        [minWidth]="rowAction.fileConfig.minWidth"
        [minHeight]="rowAction.fileConfig.minHeight"
        [imageWidth]="rowAction.fileConfig.maxWidth"
        [imageHeight]="rowAction.fileConfig.maxHeight"
        (select)="fileSelected($event)"
        (error)="rowAction.fileConfig.error && rowAction.fileConfig.error($event)">
      @if (icon) {
        <mat-icon>
          {{ icon }}
        </mat-icon>
      }
      {{ rowAction.label }}
    </fs-file>
  }
</ng-template>
@if (rowAction?.visible$ | async) {
  @switch (actionType) {
    <!-- Basic button -->
    @case ('basic') {
      @if (!rowAction.routerLink) {
        <button
            type="button"
            mat-button
            (click)="actionClick($event)"
            [ngClass]="rowAction.classArray">
          <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
        </button>
      } @else {
        <a
            mat-button
            [routerLink]="rowAction.routerLink.link"
            [queryParams]="rowAction.routerLink.queryParams">
          <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
        </a>
      }
    }
    <!-- Raised button -->
    @case ('raised') {
      @if (!rowAction.routerLink) {
        <button
            type="button"
            mat-raised-button
            (click)="actionClick($event)"
            [ngClass]="rowAction.classArray">
          <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
        </button>
      } @else {
        <a
            mat-raised-button
            [routerLink]="rowAction.routerLink.link"
            [queryParams]="rowAction.routerLink.queryParams">
          <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
        </a>
      }
    }
    <!-- Icon button -->
    @case ('icon') {
      @if (!rowAction.routerLink) {
        <button
            type="button"
            mat-icon-button
            (click)="actionClick($event)"
            [ngClass]="rowAction.classArray">
          <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
        </button>
      } @else {
        <a
            mat-icon-button
            [routerLink]="rowAction.routerLink.link"
            [queryParams]="rowAction.routerLink.queryParams">
          <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
        </a>
      }
    }
    <!-- Fab button -->
    @case ('fab') {
      @if (!rowAction.routerLink) {
        <button
            type="button"
            mat-fab
            (click)="actionClick($event)"
            [ngClass]="rowAction.classArray">
          <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
        </button>
      } @else {
        <a
            mat-fab
            [routerLink]="rowAction.routerLink.link"
            [queryParams]="rowAction.routerLink.queryParams">
          <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
        </a>
      }
    }
    <!-- Mini Fab button -->
    @case ('mini-fab') {
      @if (!rowAction.routerLink) {
        <button
            type="button"
            mat-mini-fab
            (click)="actionClick($event)"
            [ngClass]="rowAction.classArray">
          <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
        </button>
      } @else {
        <a
            mat-mini-fab
            [routerLink]="rowAction.routerLink.link"
            [queryParams]="rowAction.routerLink.queryParams">
          <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
        </a>
      }
    }
  }
}