fs-list {
  .fs-list-filters {
    .fs-list-top-actions {
      margin-left: 10px;

      .action-button mat-icon {
        margin-right: 5px;
      }

      .mat-button {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
      }
    }
  }
}
