<div
    class="fs-list-container"
    [ngClass]="{
      'has-filter-keyword': hasFilterKeyword,
      'has-filters': list.filterConfig?.items.length,
      'has-heading': list.heading || headingTemplate,
      'has-status': hasStatus,
      'has-chips': list.chips,
      'has-actions': list.actions.hasActions,
      'has-actions-hover': list.actionsHover,
      'first-load': firstLoad,
      'loading': list.loading$ | async
    }">
  <ng-template [ngTemplateOutlet]="listContainerContent"></ng-template>
</div>
<ng-template #listContainerContent>
  <ng-container *ngIf="list.dataController.visibleRows$ | async as listData">
    <div class="fs-list-header-container">
      <div
          class="fs-list-header"
          [ngClass]="{ 'no-wrap': reorderController.manualReorderActivated || !list.filterConfig?.items.length }">
        <ng-container
          *ngIf="hasFilterKeyword"
          [ngTemplateOutlet]="heading">
        </ng-container>
        <fs-filter
            class="fs-list-filter"
            *ngIf="list.filterConfig"
            [filter]="list.filterConfig"
            [showSortBy]="!list.status"
            [showFilterInput]="list.filterInput"
            (ready)="filterReady()">
          <ng-template fsFilterStatusBar>
            <ng-container
              *ngIf="!hasFilterKeyword"
              [ngTemplateOutlet]="heading">
            </ng-container>
            <ng-container *ngIf="hasStatus">
              <fs-list-status
                class="fs-list-status"
                [ngClass]="{ 'hidden-mobile': !list.status }"
                [rows]="listData"
                [sorting]="list.sorting"
                [paging]="list.paging"
                [firstLoad]="firstLoad">
              </fs-list-status>
            </ng-container>
          </ng-template>
        </fs-filter>
      </div>
    </div>
    <ng-content select="[fs-list-content]"></ng-content>
    <!-- Table implementation -->
    <div class="fs-list-table-container">
      <ng-container *ngIf="!firstLoad && listData.length > 0 && !list.emptyStateEnabled">
        <table
            class="fs-list-table"
            role="grid"
            [fsListContentInit]="list.afterContentInit"
            [ngClass]="{
              'style-card': list.style === 'card',
              'style-basic': list.style === 'basic',
              'style-line': (list.style || 'line') === 'line'
            }">
          <thead
            fs-list-head
            class="fs-list-head"
            role="rowgroup"
            *ngIf="list.columns.hasHeader"
            [ngClass]="list.columns.theadClass"
            [columns]="list.columns.visibleColumns$ | async"
            [sorting]="list.sorting"
            [selection]="list.selection"
            [hasRowActions]="list.hasRowActions"
            [activeFiltersCount]="list.activeFiltersCount$ | async"
            [reorderEnabled]="reorderController.enabled$ | async"
            [reorderPosition]="reorderController.position$ | async"
            [reorderStrategy]="reorderController.strategy$ | async">
          </thead>
          <tbody
            fs-list-body
            fsListDraggableList
            class="fs-list-body"
            role="rowgroup"
            [class.disabled]="!!(reorderController.reorderDisabled$ | async)"
            [rows]="listData"
            [rowActionsRaw]="list.rowActionsRaw"
            [groupActionsRaw]="list.groupActionsRaw"
            [hasRowActions]="list.hasRowActions"
            [rowEvents]="list.rowEvents"
            [rowClass]="list.rowClass"
            [columns]="list.columns.visibleColumns$ | async"
            [restoreMode]="list.restoreMode"
            [selection]="list.selection"
            [rowRemoved]="rowRemoved"
            [activeFiltersCount]="list.activeFiltersCount$ | async"
            [reorderEnabled]="reorderController.enabled$ | async"
            [reorderPosition]="reorderController.position$ | async"
            [reorderStrategy]="reorderController.strategy$ | async"
            [reorderMultiple]="reorderController.multiple">
          </tbody>
          <tfoot
            fs-list-footer
            class="fs-list-footer"
            *ngIf="list.columns.hasFooter"
            [columns]="list.columns.visibleColumns$ | async"
            [selection]="list.selection"
            [hasRowActions]="list.hasRowActions"
            [activeFiltersCount]="list.activeFiltersCount$ | async"
            [reorderEnabled]="reorderController.enabled$ | async"
            [reorderPosition]="reorderController.position$ | async"
            [reorderStrategy]="reorderController.strategy$ | async">
          </tfoot>
        </table>
      </ng-container>
      <fs-list-loader
        *ngIf="firstLoad"
        [columns]="list.columns.columns"
        [loaderLines]="loaderLines">
      </fs-list-loader>
    </div>
    <fs-list-pagination
      *ngIf="paginatorVisible"
      class="fs-list-pagination"
      [rows]="listData"
      [pagination]="list.paging">
    </fs-list-pagination>
    <ng-container *ngIf="!firstLoad">
      <div
          *ngIf="listData.length === 0"
          class="fs-list-no-results-container">
        <div
            *ngIf="list.noResults?.message && !list.emptyStateEnabled"
            class="fs-list-no-results">
          {{ list.noResults?.message }}
        </div>
        <ng-container *ngIf="list.emptyStateEnabled">
          <ng-template [ngTemplateOutlet]="list.emptyStateTemplate"></ng-template>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</ng-template>
<ng-template #heading>
  <div
      class="heading-container"
      *ngIf="headingContainerTemplate || list.heading || list.subheading || headingTemplate">
    <ng-container *ngIf="headingContainerTemplate; else headingContainer">
      <ng-container
        [ngTemplateOutlet]="headingContainerTemplate"
        [ngTemplateOutletContext]="{ template: headingContainer }">
      </ng-container>
    </ng-container>
    <ng-template #headingContainer>
      <h2
          class="heading"
          *ngIf="list.heading || headingTemplate">
        {{ list.heading }}
        <ng-container [ngTemplateOutlet]="headingTemplate"></ng-container>
      </h2>
      <div
          class="small subheading"
          *ngIf="list.subheading || subheadingTemplate">
        {{ list.subheading }}
        <ng-container [ngTemplateOutlet]="subheadingTemplate"></ng-container>
      </div>
    </ng-template>
  </div>
</ng-template>