@import "../../styles/mixins";

:host {
  width: 100%;
  display: block;
}

.fs-list-container {
  width: 100%;
}

.fs-list-table-container {
  width: 100%;
  overflow: auto;
}

.fs-list-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

:host ::ng-deep {

  .fs-filter {
    margin-bottom: 0;

    .main-filter-bar {
      overflow: hidden;
    }
  }

  .fs-list-body {
    display: table-row-group;
    position: relative;
    border-bottom: 2px solid #ddd;

    &.loading {
      opacity: 0.4;
    }

    .fs-list-col {
      box-sizing: border-box;
    }

    .fs-list-row:hover .fs-list-col {
      background-color: #f6f6f6;
    }

    .fs-list-row {
      &:hover {
        .fs-list-col {
          background-color: #f6f6f6;
        }
      }

      &.drag-row {
        cursor: move;
      }
    }
  }

  .fs-list-head,
  .fs-list-body {
    tr:last-child .fs-list-col {
      border-bottom: 2px solid #ddd;
    }
  }

  .fs-list-head, .fs-list-body, .fs-list-footer {
    .fs-list-row {
      display: table-row;


      &.draggable {
        position: fixed;
        z-index: 9999;

        .fs-list-col {
          background-color: #f6f6f6;
        }
      }

      &:nth-child(1) .fs-list-col {
        border-top: 0;
      }

      .fs-list-col {

        display: table-cell;

        border-top: 1px solid #ddd;
        padding: 8px 12px;
        vertical-align: middle;
        outline: none;

        &.drag-col {
          width: 1%;
        }

        &:first-child,
        &:last-child {
          padding-left: 20px;
        }

        &.row-actions {
          width: 1%;
          white-space: nowrap;
          padding-right: 10px;
          overflow: hidden;

          .row-inline-action {
            margin-left: 12px;
            &:first-child {
              margin-left: 0;
            }
          }

          .row-inline-action-icon,
          .row-inline-action-fab,
          .row-inline-action-mini-fab,
          .row-menu-action {
              width: 35px;
              height: 35px;
              display: inline-flex;
              justify-content: center;
              align-items: center;
          }
        }

        &.left {
          text-align: left;
        }

        &.center {
          text-align: center;
        }

        &.right {
          text-align: right;
        }
      }
    }
  }

  .fs-list-header-container {
    margin-bottom: 10px;
  }

  .fs-list-header {
    display: flex;
    flex-flow: row wrap;

    &.no-wrap {
      flex-flow: row nowrap !important;
    }

    .fs-list-toolbar {
      display: flex;
      flex-flow: row nowrap;
      flex: 1 1 100%;
    }

    .heading-container {
      align-self: center;
      margin-right: 10px;
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 18px;
      color: #212537;
    }

    .heading {
      margin-top: 0;
      margin-bottom: 10px;
    }

    .subheading {
      display: block;
      font-size: 14px;
      margin-top: -10px;
      color: #929292;
      font-weight: 400;
    }

    .fs-list-filter {
      flex: 100;
      margin-right: 10px;
    }
    .fs-list-actions {
      margin-left: auto;
      white-space: nowrap;
    }

    .action-button {
      margin-left: 5px;
      &:first-child {
        margin-left: 0;
      }
    }

    .mat-button {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
    }
  }



  .fs-list-container {

    &.has-filter-input {
      .heading-container {
        flex: 1 1 100%;
      }
    }

    &:not(.has-filters):not(.has-actions):not(.has-heading)  {
      .fs-list-header-container {
        display: none;
      }
    }
  }

  .fs-list-head {
    display: table-header-group;

    .fs-list-col {
      border-bottom: 2px solid #ddd;
      color: #999;
      padding: 8px;
      font-weight: normal;
      font-size: 13px;
      color: rgba(143, 143, 143, 1);

      &.sorting {

        cursor: pointer;
        &:hover {
          background-color: #F6F6F6;
        }
      }

      .wrap {
        display: inline-flex;
        vertical-align: middle;
        white-space: nowrap;

        mat-icon {
          font-size: 14px;
          display: block;
          height: 14px;
          width: 14px;
        }
      }

      &.sorting {
        background-image: none;
      }
    }
  }

  fs-list-status {
    font-size: 13px;
    color: rgb(58, 58, 58);
    display: block;
  }

  tfoot td {
    padding: 8px;
  }
}

::ng-deep {

  .reorder-in-progress {
    user-select: none;
  }

  .draggable-elem {
    opacity: 0.2;
  }

  .hidden-mobile-menu-action {
    display: none !important;
  }

  .hidden-mobile {
    display: none !important;
  }

  @include phone {
    .fs-list-header {

      &:not(.has-filters) {
        flex-flow: row nowrap !important;

        .filter-input {
          display: none !important;
        }
      }
    }

    .mat-form-field-infix {
      min-width: 90px !important;
      width: auto !important;
    }

    .fs-list-header {
      &.has-filters {
        flex-flow: row wrap;
      }
    }
  }

  @include apply-to(less-than, tablet) {

    .fs-list-actions {
      .action-button {
        display: none;
      }
    }

    .row-inline-action {
      &.mobile-hide {
        display: none;
      }
    }
    .hidden-mobile-menu-action {
      display: block !important;
    }
  }
}

//    .material-icons {
//      font-family: 'Material Icons';
//      font-weight: normal;
//      font-style: normal;
//      line-height: 1;
//      letter-spacing: normal;
//      text-transform: none;
//      display: inline-block;
//      white-space: nowrap;
//      word-wrap: normal;
//      direction: ltr;
//      -webkit-font-feature-settings: 'liga';
//      -webkit-font-smoothing: antialiased;
//    }
