<div
  class="fs-list-container"
    [ngClass]="{
      'has-filters': list.filterConfig?.items.length,
      'has-status': hasStatus,
      'has-chips': list.chips,
      'has-actions': list.actions.hasActions,
      'has-row-actions-hover': list.rowActionsHover,
      'first-load': firstLoad,
      'loading': list.loading$ | async
    }">
  <ng-template [ngTemplateOutlet]="listContainerContent"></ng-template>
</div>
<ng-template #listContainerContent>
  @if (list.dataController.visibleRows$ | async; as listData) {
    <div class="fs-list-header-container">
      <div
        class="fs-list-header"
        [ngClass]="{ 'no-wrap': reorderController.manualReorderActivated || !list.filterConfig?.items.length }">
        @if (list.filterConfig) {
          <fs-filter
            class="fs-list-filter"
            [config]="list.filterConfig">
            @if (hasStatus) {
              <ng-template fsFilterStatusBar>
                <fs-list-status
                  class="fs-list-status"
                  [ngClass]="{ 'hidden-mobile': !list.status }"
                  [rows]="listData"
                  [list]="list"
                  [firstLoad]="firstLoad">
                </fs-list-status>
              </ng-template>
            }
            @if (headingTemplate) {
              <ng-template fsFilterHeading>
                <ng-template [ngTemplateOutlet]="headingTemplate"></ng-template>
              </ng-template>
            }
          </fs-filter>
        }
      </div>
    </div>
    <ng-content select="[fs-list-content]"></ng-content>
    <!-- Table implementation -->
    <div class="fs-list-table-container">
      @if (!firstLoad && listData.length > 0 && !list.emptyStateEnabled) {
        <table
          class="fs-list-table"
          role="grid"
          [fsListContentInit]="list.afterContentInit"
            [ngClass]="{
              'style-card': list.style === 'card',
              'style-basic': list.style === 'basic',
              'style-line': (list.style || 'line') === 'line'
            }">
          @if (list.columns.hasHeader) {
            <thead
              fs-list-head
              class="fs-list-head"
              role="rowgroup"
              [ngClass]="list.columns.theadClass"
              [columns]="list.columns.visibleColumns$ | async"
              [sorting]="list.sorting"
              [selection]="list.selection"
              [hasRowActions]="list.hasRowActions"
              [activeFiltersCount]="list.activeFiltersCount$ | async"
              [reorderEnabled]="reorderController.enabled$ | async"
              [reorderPosition]="reorderController.position$ | async"
              [reorderStrategy]="reorderController.strategy$ | async">
            </thead>
          }
          <tbody
            fs-list-body
            fsListDraggableList
            class="fs-list-body"
            role="rowgroup"
            [class.disabled]="!!(reorderController.reorderDisabled$ | async)"
            [rows]="listData"
            [rowActionsRaw]="list.rowActionsRaw"
            [groupActionsRaw]="list.groupActionsRaw"
            [hasRowActions]="list.hasRowActions"
            [rowEvents]="list.rowEvents"
            [rowClass]="list.rowClass"
            [columns]="list.columns.visibleColumns$ | async"
            [restoreMode]="list.restoreMode"
            [selection]="list.selection"
            [rowRemoved]="rowRemoved"
            [activeFiltersCount]="list.activeFiltersCount$ | async"
            [reorderEnabled]="reorderController.enabled$ | async"
            [reorderPosition]="reorderController.position$ | async"
            [reorderStrategy]="reorderController.strategy$ | async"
            [reorderMultiple]="reorderController.multiple">
          </tbody>
          @if (list.columns.hasFooter) {
            <tfoot
              fs-list-footer
              class="fs-list-footer"
              [columns]="list.columns.visibleColumns$ | async"
              [selection]="list.selection"
              [hasRowActions]="list.hasRowActions"
              [activeFiltersCount]="list.activeFiltersCount$ | async"
              [reorderEnabled]="reorderController.enabled$ | async"
              [reorderPosition]="reorderController.position$ | async"
              [reorderStrategy]="reorderController.strategy$ | async">
            </tfoot>
          }
        </table>
      }
      @if (firstLoad) {
        <fs-list-loader
          [columns]="list.columns.columns"
          [loaderLines]="loaderLines">
        </fs-list-loader>
      }
    </div>
    <fs-list-pagination
      class="fs-list-pagination"
      [rows]="listData"
      [pagination]="list.paging">
    </fs-list-pagination>
    @if (!firstLoad) {
      @if (listData.length === 0) {
        <div
          class="fs-list-no-results-container">
          @if (list.noResults?.message && !list.emptyStateEnabled) {
            <div
              class="fs-list-no-results">
              {{ list.noResults?.message }}
            </div>
          }
          @if (list.emptyStateEnabled) {
            <ng-template [ngTemplateOutlet]="list.emptyStateTemplate"></ng-template>
          }
        </div>
      }
    }
  }
</ng-template>