@import "../../styles/mixins";

::ng-deep {

  .fs-list {
    display: block;
    width: 100%;

    .fs-list-loading {

      .fs-list-status, fs-list-pagination, .filter-chips {
        opacity: 0.5;
      }
    }

    .fs-list-swap-restricted {
      opacity: 0.5;
    }

    .fs-list-no-drop {
      cursor: no-drop;
    }

    .fs-filter {
      margin-bottom: 0;
      position: initial !important;
      display: block;
    }

    .fs-list-container {

      &.has-actions {
        .fs-list-actions {
          margin-left: 5px;
        }
      }
    }

    .fs-list-table-container {
      width: 100%;
      overflow: auto;
    }

    table,
    .fs-list-table {
      border-spacing: 0;
      display: table;
      width: 100%;
      border-collapse: collapse;
    }

    .fs-list-no-results {
      text-align: center;
      color: #999;
      padding: 10px 0;
    }

    .hidden {
      display: none;
    }

    thead,
    .fs-list-head {
      display: table-header-group;

      th,
      .fs-list-col {
        color: #999;
        padding: 8px;
        font-weight: normal;
        font-size: 13px;
        color: rgba(143, 143, 143, 1);

        &.fs-list-col-selection {
          width: 1%;
          text-align: left;
        }

        &.sorting {

          cursor: pointer;
          &:hover {
            background-color: #F6F6F6;
          }
        }

        .wrap {
          display: inline-flex;
          vertical-align: middle;
          white-space: nowrap;

          mat-icon {
            font-size: 14px;
            display: block;
            height: 14px;
            width: 14px;
          }

          .direction {
            margin-left: 5px;
          }
        }

        &.sorting {
          background-image: none;
        }
      }
    }

    tbody,
    .fs-list-body {
      display: table-row-group;
      position: relative;

      &.loading {
        opacity: 0.4;
        pointer-events: none;
      }

      td,
      .fs-list-col {
        box-sizing: border-box;
      }

      tr:hover td,
      .fs-list-row:hover .fs-list-col {
        background-color: #f6f6f6;
      }

      tr,
      .fs-list-row {
        &:hover {
          td,
          .fs-list-col {
            background-color: #f6f6f6;
          }
        }


      }
    }

    tbody,
    .fs-list-body {
      tr:first-child td {
        border-top: 2px solid #ddd;
      }

      tr:last-child td {
        border-bottom: 2px solid #ddd;
      }
    }

    tbody,
    .fs-list-body {
      td {
        border-top: 1px solid #ddd;
      }
    }

    thead,
    tbody,
    tfoot,
    .fs-list-head,
    .fs-list-body,
    .fs-list-footer {

      tr,
      .fs-list-row {
        display: table-row;

        td,
        th,
        .fs-list-col {

          display: table-cell;
          padding: 8px;
          vertical-align: middle;
          outline: none;

          &.drag-col {
            // Percentage width doesn't work on IOS
            // width: 1%;
            width: 24px;
            text-align: center;
            cursor: grab;

            mat-icon {
              display: flex;
            }
          }

          &.row-actions {
            width: 1%;
            white-space: nowrap;
            padding-right: 10px;
            overflow: hidden;

            .row-inline-action {
              margin-left: 12px;
              display: inline-block;

              &:first-child {
                margin-left: 0;
              }
            }

            .row-inline-action-icon,
            .row-inline-action-fab,
            .row-inline-action-mini-fab,
            .row-menu-action {
                width: 35px;
                justify-content: center;
                align-items: center;
            }
          }

          &.left {
            text-align: left;
          }

          &.center {
            text-align: center;
          }

          &.right {
            text-align: right;
          }
        }

        &.draggable {
          position: fixed;
          z-index: 9999;
          box-shadow: 2px 2px 2px 0 rgba(158,158,158,0.65);
          border-radius: 5px;
          //width: auto !important;

          td,
          .fs-list-col {
            background-color: #f6f6f6;
            border: none;
          }
        }
      }
    }

    .fs-list-header-container {
      margin-bottom: 10px;
    }

    .fs-list-header {
      .heading-container {
        font-weight: 600;
        font-size: 18px;
        color: #212537;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .heading {
        margin: 0;
        line-height: 36px;
      }

      .subheading {
        display: block;
        font-size: 14px;
        color: #929292;
        font-weight: 400;
      }

      .fs-list-actions {
        white-space: nowrap;
        float: right;

        .menu-button {
          width: 36px;
          height: 36px;
          line-height: 36px;
        }
      }

      .action-button {
        margin-left: 5px;
        &:first-child {
          margin-left: 0;
        }
      }

      .mat-button {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
      }
    }

    .fs-list-container {
      width: 100%;

      &:not(.has-filters):not(.has-actions):not(.has-heading)  {
        .fs-list-header-container {
          display: none;
        }
      }

      &.has-dragging {

        thead {
          th {
            border-bottom: 2px solid #ddd;
          }
        }

        tbody {
          tr:nth-child(2) td {
            border-top: none;
          }
        }
      }
    }

    tfoot td {
      padding: 8px;
    }
  }
}

::ng-deep {

  .reorder-in-progress {
    user-select: none;
  }

  .draggable-elem td {
    opacity: 0.2;
  }

  .hidden-mobile-menu-action {
    display: none !important;
  }

  .hidden-mobile {
    display: none !important;
  }

  @include phone {
    .fs-list-filter {
      .inline-actions {
        top: initial !important; // Cratch, but we need to change layout in fs-filter.
        position: initial !important; // Cratch, but we need to change layout in fs-filter.

        .action-filter {
          margin-bottom: 0 !important;
        }
      }
    }

    .fs-list-header {
      .filter-input-field {
        .mat-form-field-wrapper {
          padding: 0 !important;
        }
      }
    }

    .fs-list-header {
      &.has-filters {
        flex-flow: row wrap;
      }
    }
  }

  @include apply-to(less-than, tablet) {

    .show-mobile {
      display: inline-block !important;
    }

    .fs-list-actions {
      .action-button {
        display: none;
      }
    }

    .row-inline-action {
      &.mobile-hide {
        display: none;
      }
    }

    .hidden-mobile-menu-action {
      display: block !important;
    }
  }
}
