@import "../../styles/mixins";

:host {
  width: 100%;
  display: block;
}

.fs-list-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

:host ::ng-deep {

  .fs-filter {
    margin-bottom: 0;

    .main-filter-bar {
      overflow: hidden;
    }
  }

  .fs-list-body {
    display: table-row-group;
    position: relative;

    &.loading {
      opacity: 0.4;
    }

    .fs-list-row:hover .fs-list-col {
      background-color: #f6f6f6;
    }

    .fs-list-row:last-child .fs-list-col {
      border-bottom: 2px solid #ddd;
    }
  }

  .fs-list-head, .fs-list-body {
    .fs-list-row {
      display: table-row;

      &:nth-child(1) .fs-list-col {
        border-top: 0;
      }
      &:last-child .fs-list-col {
        border-bottom: 2px solid #ddd;
      }

      .fs-list-col {

        &.left {
          text-align: left;
        }

        &.center {
          text-align: center;
        }

        &.right {
          text-align: right;
        }

        display: table-cell;

        border-top: 1px solid #ddd;
        padding: 8px;
        vertical-align: middle;
        outline: none;
      }
    }
  }
  .fs-list-filters {
    display: flex;
    flex-flow: row wrap;

    .actions-container {
      display: flex;
      flex-flow: row nowrap;
      flex: 1 1 100%;
    }

    &.has-filters {
      .title {
        flex: 1 1 100%;
      }
    }

    .title {
      align-self: center;
      font-weight: 600;
      font-size: 18px;
      color: #212537;
      margin-right: 10px;
    }

    .fs-list-filter {
      flex: 100;
    }
    .fs-list-actions {
      margin-left: 10px;
      float: right;
    }

    .action-button mat-icon {
      margin-right: 5px;
    }

    .mat-button {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  .fs-list-head {
    display: table-header-group;

    .fs-list-col {
      border-bottom: 2px solid #ddd;
      color: #999;
      font-size: 14px;
      padding: 8px;
      font-weight: normal;
      font-size: 13px;
      color: rgba(143, 143, 143, 1);

      &.sorting {

        cursor: pointer;
        &:hover {
          background-color: #F6F6F6;
        }
      }

      .wrap {
        display: inline-flex;
        vertical-align: middle;
        white-space: nowrap;

        mat-icon {
          font-size: 14px;
          display: block;
          height: 14px;
          width: 14px;
        }
      }

      &.sorting {
        background-image: none;
      }
    }
  }

  fs-list-status {
    font-size: 13px;
    color: rgb(58, 58, 58);
    padding-bottom: 10px;
    display: block;
  }

  tfoot td {
    padding: 8px;
  }
}

::ng-deep {

  .hidden-mobile-menu-action {
    display: none !important;
  }

  .hidden-mobile {
    display: none !important;
  }

  @include phone {
    .fs-list-filters {

      &:not(.has-filters) {
        flex-flow: row nowrap !important;

        .filter-input {
          display: none !important;
        }
      }
    }

    .mat-form-field-infix {
      min-width: 90px !important;
      width: auto !important;
    }

    .fs-list-filters {
      &.has-filters {
        flex-flow: row wrap;
      }
    }
  }

  @include apply-to(less-than, tablet) {

    .fs-list-actions {
      .action-button {
        display: none;
      }
    }

    .hidden-mobile-menu-action {
      display: block !important;
    }
  }
}

//    .material-icons {
//      font-family: 'Material Icons';
//      font-weight: normal;
//      font-style: normal;
//      line-height: 1;
//      letter-spacing: normal;
//      text-transform: none;
//      display: inline-block;
//      white-space: nowrap;
//      word-wrap: normal;
//      direction: ltr;
//      -webkit-font-feature-settings: 'liga';
//      -webkit-font-smoothing: antialiased;
//    }
