<div class="fs-list-container"
     [ngClass]="{ 'has-filter-input': list.filterInput,
                  'has-filters': list.filterConfig?.items.length,
                  'has-heading': list.heading,
                  'has-status': list.status,
                  'has-actions': list.actions.length }">
  <ng-template [ngTemplateOutlet]="listContainerContent"></ng-template>
</div>

<ng-template #listContainerContent>
  <!-- Header -->
  <div class="fs-list-header-container">
    <div class="fs-list-header"
         [ngClass]="{ 'no-wrap': list.reoderEnabled || !list.filterConfig?.items.length }">
      <div class="heading-container">
        <h2 class="heading" *ngIf="list.heading">{{list.heading}}</h2>
        <span class="subheading" *ngIf="list.subheading">{{list.subheading}}</span>
      </div>
      <!-- Filters/actions -->
      <div class="fs-list-toolbar">
        <fs-filter
          class="fs-list-filter"
          *ngIf="list.filterConfig"
          [hidden]="!list.filterConfig?.items.length || list.reoderEnabled"
          [filter]="list.filterConfig"
          [sortUpdate]="list?.sorting?.sortingChanged"
          [showSortBy]="!list.status"
          [showFilterInput]="list.filterInput"
        >
        </fs-filter>

        <!-- Actions -->
        <div class="fs-list-actions" *ngIf="list.actions?.length">
          <ng-container *ngIf="!list.reoderEnabled">
            <span *ngFor="let action of list.menuActions" class="action-button">
              <button type="button"
                      mat-raised-button
                      (click)="action.click(action, $event)"
                      [ngClass]="action.classArray">
                <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon> {{ action.label }}
              </button>
          </span>
          </ng-container>
          <button type="button"
                  mat-icon-button
                  *ngIf="!list.reoderEnabled"
                  [matMenuTriggerFor]="rowActionsRef"
                  [ngClass]="{
                    'hidden': !list.kebabActions.length,
                    'show-mobile': !list.kebabActions.length && list.menuActions.length
                  }">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #rowActionsRef>
            <button type="button"
                    class="hidden-mobile-menu-action"
                    mat-menu-item
                    *ngFor="let action of list.menuActions"
                    (click)="action.click(row, $event)"
                    [ngClass]="action.classArray"
            >
              <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon> {{action.label}}
            </button>
            <button type="button"
                    mat-menu-item
                    *ngFor="let action of list.kebabActions"
                    (click)="action.click(row, $event)"
                    [ngClass]="action.classArray"
            >
              <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon> {{action.label}}
            </button>
          </mat-menu>

          <button type="button"
                  mat-button
                  color="primary"
                  *ngIf="list.reoderEnabled"
                  (click)="finishReorder()">
            DONE
          </button>
        </div>
        <!-- /Actions -->
      </div>
    </div>

    <!-- Status -->
    <fs-list-status
      [ngClass]="{'hidden-mobile': !list.status}"
      [dataChangedRef]="list.data$"
      [sorting]="list.sorting"
      [paging]="list.paging"
      *ngIf="
      list.paging &&
      !list.reoderEnabled &&
      ((list.scrollable && list.scrollable.status) || !list.scrollable) &&
      list.data.length > 0">
    </fs-list-status>
  </div>


  <!-- Table implementation -->
  <div class="fs-list-table-container">
    <table class="fs-list-table" role="grid" *ngIf="list.data.length > 0">
      <thead fs-list-head
             class="fs-list-head"
             role="rowgroup"
             [ngClass]="list.theadClass"
             [columns]="list.columns"
             [sorting]="list.sorting"
             [hasRowActions]="list.hasRowActions"
             [reorder]="list.reoderEnabled">
      </thead>

      <tbody fs-list-body
             class="fs-list-body"
             role="rowgroup"
             [class.loading]="list.loading"
             [rows]="list.data"
             [rowActionsRaw]="list.rowActionsRaw"
             [rowEvents]="list.rowEvents"
             [rowClass]="list.rowClass"
             [columns]="list.columns"
             [hasFooter]="list.hasFooter"
             [reorder]="list.reoderEnabled"
             [restoreMode]="list.restoreMode"
      >
      </tbody>

      <tfoot fs-list-footer
             class="fs-list-footer"
             *ngIf="list.hasFooter"
             [columns]="list.columns"
             [hasRowActions]="list.hasRowActions">
      </tfoot>
    </table>
  </div>

  <fs-list-pagination
    *ngIf="list.paging.enabled && !list.scrollable && list.data.length > 0"
    [dataChangedRef]="list.data$"
    [pagination]="list.paging">
  </fs-list-pagination>

  <div class="fs-list-no-results" *ngIf="list.data.length === 0 && !list.loading && list.config.noResults.message">
    {{ list.config.noResults.message }}
  </div>
</ng-template>

