<table>
  <thead>
    <tr>
      <th *ngFor="let col of cols; let column = index" [width]="widths[column] + '%'">
        <div class="placeholder" [style.width]="(placeholderWidths[0][column]/2)  + '%'"></div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td *ngFor="let col of cols; let column = index">
        <div class="placeholder" [style.width]="placeholderWidths[0][column] + '%'"></div>
      </td>
    </tr>
    <tr>
      <td *ngFor="let col of cols; let column = index">
        <div class="placeholder" [style.width]="placeholderWidths[1][column] + '%'"></div>
      </td>
    </tr>
    <tr>
      <td *ngFor="let col of cols; let column = index">
        <div class="placeholder" [style.width]="placeholderWidths[2][column] + '%'"></div>
      </td>
    </tr>
  </tbody>
</table>
