<table>
  <thead>
    <tr>
      @for (col of cols; track col; let column = $index) {
        <th [width]="widths[column] + '%'">
          <div class="fs-skeleton-placeholder" [style.width]="(placeholderWidths[0][column]/2)  + '%'"></div>
        </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of rows; track row; let index = $index) {
      <tr>
        @for (col of cols; track col; let column = $index) {
          <td>
            <div class="fs-skeleton-placeholder" [style.width]="placeholderWidths[index][column] + '%'"></div>
          </td>
        }
      </tr>
    }
  </tbody>
</table>
