<fs-list
    [config]="config"
    #table>
  <fs-list-column>
    <ng-template fs-list-header>
      №
    </ng-template>
    <ng-template
        fs-list-cell
        let-row="row">
      {{ row.index }}
    </ng-template>
    <ng-template
        fs-list-footer
        colspan="2">
      Footer with colspan 2 and left align
    </ng-template>
  </fs-list-column>
  <fs-list-column
      name="name"
      title="Name"
      [sortable]="true">
    <ng-template fs-list-header>
      <b>
        User
      </b>
      name
    </ng-template>
    <ng-template
        fs-list-cell
        let-row="row">
      {{ row.value }}
    </ng-template>
  </fs-list-column>
  <fs-list-column
      name="guid"
      title="GUID"
      [sortable]="true">
    <ng-template
        fs-list-cell
        let-row="row">
      {{ row.guid }}
    </ng-template>
    <ng-template
        fs-list-footer
        colspan="2"
        align="right">
      Footer with colspan 2 and right align
    </ng-template>
  </fs-list-column>
  <fs-list-column title="Link">
    <ng-template
        fs-list-cell
        let-row="row"
        [class]="['myTestClass', 'myTestClass2']">
      <a routerLink="/welcome">
        Link
      </a>
    </ng-template>
  </fs-list-column>
</fs-list>