<fs-list [config]="config">
  <fs-list-column
      [width]="'1%'"
      [align]="'right'">
    <ng-template
        fs-list-cell
        let-row="row">
      <mat-icon
          (click)="setDefault(row)"
          [style.cursor]="'pointer'">
        {{ row.default ? 'check_circle' : 'radio_button_unchecked' }}
      </mat-icon>
    </ng-template>
  </fs-list-column>
  <fs-list-column
      name="name"
      title="Name">
    <ng-template fs-list-header>
      <b>
        User
      </b>
      name
    </ng-template>
    <ng-template
        fs-list-cell
        let-row="row">
      {{ row.value }}
    </ng-template>
  </fs-list-column>
  <fs-list-column
      name="guid"
      title="GUID">
    <ng-template
        fs-list-cell
        let-row="row">
      {{ row.guid }}
    </ng-template>
  </fs-list-column>
</fs-list>