.mat-checkbox {
  min-height: 32px;
  display: block;
}

.mat-icon {
  font-size: 14px;
  height: 14px;
  width: 14px;
  vertical-align: middle;
}

.columns {
  margin-bottom: 1.25em;
}

.no-results {
  text-align: center;
  padding: 15px 0;
  color: #999;
}
