<fs-list [config]="config">
  <fs-list-column
      name="id"
      [sortable]="true"
      [sortableDirection]="'desc'">
    <ng-template fs-list-header>
      №
    </ng-template>
    <ng-template
        fs-list-cell
        let-row="row">
      {{ row.index }}
    </ng-template>
    <ng-template
        fs-list-footer
        colspan="2">
      2 colspan footer
    </ng-template>
  </fs-list-column>
  <fs-list-column
      name="name"
      title="Name"
      [sortable]="true"
      [sortableDefault]="true"
      [customizable]="false">
    <ng-template
        fs-list-cell
        let-row="row">
      {{ row.name }}
    </ng-template>
  </fs-list-column>
  <fs-list-column
      name="guid"
      [sortable]="true"
      align="right">
    <ng-template fs-list-header>
      <b>
        GUID
      </b>
    </ng-template>
    <ng-template
        fs-list-cell
        let-row="row">
      {{ row.guid }}
    </ng-template>
    <ng-template
        fs-list-footer
        colspan="2"
        align="right">
      2 colspan footer right aligned
    </ng-template>
  </fs-list-column>
  <fs-list-column
      name="link"
      title="Link"
      [show]="linkVisible">
    <ng-template
        fs-list-cell
        let-row="row"
        [class]="['myTestClass', 'myTestClass2']">
      <a routerLink="/welcome">
        Link
      </a>
    </ng-template>
  </fs-list-column>
  <ng-template fsListHeading>
    <h2>
      Heading
    </h2>
  </ng-template>
</fs-list>