<h1>Remote Data Source</h1>

<fs-list [config]="config">

  <fs-list-column>
    <ng-template fs-list-header-template> <!-- You can't use just directive -->
      Hello
    </ng-template>
    <ng-template fs-list-row-template let-index="index">
      {{index}}
    </ng-template>
  </fs-list-column>

  <fs-list-column name="name" title="Name" [sortable]="true">
    <ng-template fs-list-header-template let-title="value" colspan="5"> <!-- Or you can describe params. Doesn't matter -->
      Hello {{title}}
    </ng-template>
    <ng-template fs-list-row-template let-value="value" let-row="row">
      {{value}}
      <mat-form-field>
        <input matInput [(ngModel)]="row.guid" (click)="onClick($event, row)">
      </mat-form-field>
    </ng-template>
  </fs-list-column>

  <fs-list-column name="guid" title="GUID" headerAlign="center" [sortable]="true">
    <ng-template fs-list-row-template let-guid="value" let-row="row">
      This row's guid is {{ row.guid }} ({{guid}}).
    </ng-template>
  </fs-list-column>

  <fs-list-column title="Link">
    <ng-template fs-list-row-template let-guid="value" align="right" [class]="['myTestClass', 'myTestClass2']">
      <a routerLink="/welcome">Simple Link</a>
    </ng-template>
  </fs-list-column>

  <fs-list-column title="Handler">
    <ng-template fs-list-row-template>
      <a (click)="proceed('/welcome')">Link Handler</a>
    </ng-template>
  </fs-list-column>
</fs-list>


<h1>Local Data Source</h1>
<fs-list [config]="localDataSourceConfig" [rows]="rows">

  <fs-list-column title="№">
    <ng-template fs-list-row-template let-index="index">
      {{index}}
    </ng-template>
  </fs-list-column>

  <fs-list-column name="name" title="Name">
    <ng-template fs-list-row-template let-value="value" let-row="row">
      {{value}}
      <mat-form-field>
        <input matInput [(ngModel)]="row.guid" (click)="onClick($event, row)">
      </mat-form-field>
    </ng-template>
  </fs-list-column>

  <fs-list-column name="guid" title="GUID" headerAlign="center">
    <ng-template fs-list-row-template let-guid="value" let-row="row">
      This row's guid is {{ row.guid }} ({{guid}}).
    </ng-template>
  </fs-list-column>

  <fs-list-column title="Link" cellAlign="right">
    <ng-template fs-list-row-template let-guid="value">
      <a routerLink="/welcome">Simple Link</a>
    </ng-template>
  </fs-list-column>

  <fs-list-column title="Handler">
    <ng-template fs-list-row-template>
      <a (click)="proceed('/welcome')">Link Handler</a>
    </ng-template>
  </fs-list-column>
</fs-list>

<button (click)="addRows()">Add 7 Rows</button>
