.infinite-records {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
  font-size: 13px;

  a {
   color: #546E7A;
  }

  .order-toggle {
    cursor: pointer;
    padding-left: 4px;
  }

  .saved-filters {
    float: right;
    display: flex;
  }
}
