@import '../../styles/variables';

:host {
  display: inline-block;

  &.first-load {
    background: $loader-background;

    .status-bar {
      visibility: hidden;
    }
  }
}

.order-toggle {
  white-space: nowrap;
}

a {
  cursor: pointer;
}
