<div class="status">
  <small>
    @if (paging.enabled) {
      Showing
      @if (paging.hasManyStrategy) {
        <ng-container [ngTemplateOutlet]="limitMenu"></ng-container>
        of
        @if (many.status === 'many') {
          <a
            (click)="manyClick()"
            [matTooltip]="'Calculate number of results'">
            many
          </a>
        } @else {
          @if (many.status === 'loading') {
            <mat-spinner
              [diameter]="15"
              [strokeWidth]="2">
            </mat-spinner>
          } @else {
            <a
              (click)="manyClick()"
              [matTooltip]="'Recalculate number of results'">
              {{ many.count | number:'1.0':'en-US' }}
            </a>
          }
        }
      } @else {
        @if (paging.records) {
          <ng-container [ngTemplateOutlet]="limitMenu"></ng-container>
          of
          {{ paging.records | number:'1.0':'en-US' }}
        } @else {
          0
        }
      }
      results
      <ng-container *ngTemplateOutlet="sortedBy"></ng-container>
    }
    @if ((!paging.enabled) && paging.pageRecords > 0) {
      Showing
      @if (paging.pageRecords === 1) {
        <span>
          {{ paging.pageRecords }} result
        </span>
      }
      @if (paging.pageRecords > 1) {
        <span>
          {{ paging.pageRecords | number:'1.0':'en-US' }} results
        </span>
      }
      <ng-container *ngTemplateOutlet="sortedBy"></ng-container>
    }
    <fs-menu
      [hidden]="!sorting.sortingColumn || paging.pageRecords === 0"
      #orderColumnsMenu>
      <!-- Real sorting columns -->
      @for (column of sorting.sortingColumns; track column) {
        <ng-template
          fs-menu-item
          (click)="setSortableColumn(column)">
          @if (column.title) {
            {{ column.title }}
          } @else {
            <ng-template [ngTemplateOutlet]="column.headerTemplate"></ng-template>
          }
        </ng-template>
      }
      <!-- Fake sorting columns -->
      @for (column of sorting.fakeSortingColumns; track column) {
        <ng-template
          fs-menu-item
          (click)="setSortableColumn(column)">
          {{ column.title }}
        </ng-template>
      }
    </fs-menu>
    <ng-template #sortedBy>
      @if (sorting.sortingColumn) {
        sorted by
        @if (sorting.sortingColumn.title) {
          <a
            class="sort-toggle"
            [fsMenuTriggerFor]="orderColumnsMenu">
            {{ sorting.sortingColumn.title }}
          </a>
        } @else {
          <a
            class="sort-toggle"
            [fsMenuTriggerFor]="orderColumnsMenu">
            <ng-template [ngTemplateOutlet]="sorting.sortingColumn.headerTemplate"></ng-template>
          </a>
        }
        <a (click)="toggleDirection()">
          {{ sorting.sortingColumn.fullNameDirection }}
        </a>
      }
    </ng-template>
  </small>
</div>
<ng-template #limitMenu>
  <a [fsMenuTriggerFor]="limitsMenuTrigger">
    {{ paging.statusLabel }}
  </a>
  <fs-menu #limitsMenuTrigger>
    @for (limit of paging.limits; track limit) {
      <ng-template
        fs-menu-item
        (click)="setLimit(limit)">
        {{ limit }}
      </ng-template>
    }
  </fs-menu>
</ng-template>