@import '../../styles/variables';

:host {
  display: inline-block;

  &.first-load {
    background: #f3f3f3;

    .status-bar {
      visibility: hidden;
    }
  }
}

.status-loading {
  width: 150px;
  height: 17px;
  background: $loader-background;
}

.order-toggle {
  white-space: nowrap;
}

a {
  cursor: pointer;
}
