:host {
  width: 100%;
  display: block; }

.fs-list-container {
  width: 100%; }

.fs-list-table-container {
  width: 100%;
  overflow: auto; }

.fs-list-table {
  display: table;
  width: 100%;
  border-collapse: collapse; }

:host ::ng-deep .fs-filter {
  margin-bottom: 0; }
  :host ::ng-deep .fs-filter .main-filter-bar {
    overflow: hidden; }

:host ::ng-deep .hidden {
  display: none; }

:host ::ng-deep .fs-list-body {
  display: table-row-group;
  position: relative;
  border-bottom: 2px solid #ddd; }
  :host ::ng-deep .fs-list-body.loading {
    opacity: 0.4; }
  :host ::ng-deep .fs-list-body .fs-list-col {
    box-sizing: border-box; }
  :host ::ng-deep .fs-list-body .fs-list-row:hover .fs-list-col {
    background-color: #f6f6f6; }
  :host ::ng-deep .fs-list-body .fs-list-row:hover .fs-list-col {
    background-color: #f6f6f6; }
  :host ::ng-deep .fs-list-body .fs-list-row.drag-row {
    cursor: move; }

:host ::ng-deep .fs-list-head tr:last-child .fs-list-col,
:host ::ng-deep .fs-list-body tr:last-child .fs-list-col {
  border-bottom: 2px solid #ddd; }

:host ::ng-deep .fs-list-head .fs-list-row, :host ::ng-deep .fs-list-body .fs-list-row, :host ::ng-deep .fs-list-footer .fs-list-row {
  display: table-row; }
  :host ::ng-deep .fs-list-head .fs-list-row.draggable, :host ::ng-deep .fs-list-body .fs-list-row.draggable, :host ::ng-deep .fs-list-footer .fs-list-row.draggable {
    position: fixed;
    z-index: 9999; }
    :host ::ng-deep .fs-list-head .fs-list-row.draggable .fs-list-col, :host ::ng-deep .fs-list-body .fs-list-row.draggable .fs-list-col, :host ::ng-deep .fs-list-footer .fs-list-row.draggable .fs-list-col {
      background-color: #f6f6f6; }
  :host ::ng-deep .fs-list-head .fs-list-row:nth-child(1) .fs-list-col, :host ::ng-deep .fs-list-body .fs-list-row:nth-child(1) .fs-list-col, :host ::ng-deep .fs-list-footer .fs-list-row:nth-child(1) .fs-list-col {
    border-top: 0; }
  :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col, :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col, :host ::ng-deep .fs-list-footer .fs-list-row .fs-list-col {
    display: table-cell;
    border-top: 1px solid #ddd;
    padding: 8px 12px;
    vertical-align: middle;
    outline: none; }
    :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col.drag-col, :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col.drag-col, :host ::ng-deep .fs-list-footer .fs-list-row .fs-list-col.drag-col {
      width: 1%; }
    :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col:first-child, :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col:last-child, :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col:first-child, :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col:last-child, :host ::ng-deep .fs-list-footer .fs-list-row .fs-list-col:first-child, :host ::ng-deep .fs-list-footer .fs-list-row .fs-list-col:last-child {
      padding-left: 20px; }
    :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col.row-actions, :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col.row-actions, :host ::ng-deep .fs-list-footer .fs-list-row .fs-list-col.row-actions {
      width: 1%;
      white-space: nowrap;
      padding-right: 10px;
      overflow: hidden; }
      :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col.row-actions .row-inline-action, :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col.row-actions .row-inline-action, :host ::ng-deep .fs-list-footer .fs-list-row .fs-list-col.row-actions .row-inline-action {
        margin-left: 12px; }
        :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col.row-actions .row-inline-action:first-child, :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col.row-actions .row-inline-action:first-child, :host ::ng-deep .fs-list-footer .fs-list-row .fs-list-col.row-actions .row-inline-action:first-child {
          margin-left: 0; }
      :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col.row-actions .row-inline-action-icon,
      :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col.row-actions .row-inline-action-fab,
      :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col.row-actions .row-inline-action-mini-fab,
      :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col.row-actions .row-menu-action, :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col.row-actions .row-inline-action-icon,
      :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col.row-actions .row-inline-action-fab,
      :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col.row-actions .row-inline-action-mini-fab,
      :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col.row-actions .row-menu-action, :host ::ng-deep .fs-list-footer .fs-list-row .fs-list-col.row-actions .row-inline-action-icon,
      :host ::ng-deep .fs-list-footer .fs-list-row .fs-list-col.row-actions .row-inline-action-fab,
      :host ::ng-deep .fs-list-footer .fs-list-row .fs-list-col.row-actions .row-inline-action-mini-fab,
      :host ::ng-deep .fs-list-footer .fs-list-row .fs-list-col.row-actions .row-menu-action {
        width: 35px;
        height: 35px;
        display: inline-flex;
        justify-content: center;
        align-items: center; }
    :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col.left, :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col.left, :host ::ng-deep .fs-list-footer .fs-list-row .fs-list-col.left {
      text-align: left; }
    :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col.center, :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col.center, :host ::ng-deep .fs-list-footer .fs-list-row .fs-list-col.center {
      text-align: center; }
    :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col.right, :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col.right, :host ::ng-deep .fs-list-footer .fs-list-row .fs-list-col.right {
      text-align: right; }

:host ::ng-deep .fs-list-header-container {
  margin-bottom: 10px; }

:host ::ng-deep .fs-list-header {
  display: flex;
  flex-flow: row wrap; }
  :host ::ng-deep .fs-list-header.no-wrap {
    flex-flow: row nowrap !important; }
  :host ::ng-deep .fs-list-header .fs-list-toolbar {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 100%; }
  :host ::ng-deep .fs-list-header .heading-container {
    align-self: center;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #212537; }
  :host ::ng-deep .fs-list-header .heading {
    margin-top: 0;
    margin-bottom: 10px; }
  :host ::ng-deep .fs-list-header .subheading {
    display: block;
    font-size: 14px;
    margin-top: -10px;
    color: #929292;
    font-weight: 400; }
  :host ::ng-deep .fs-list-header .fs-list-filter {
    flex: 100;
    margin-right: 10px; }
  :host ::ng-deep .fs-list-header .fs-list-actions {
    margin-left: auto;
    white-space: nowrap; }
  :host ::ng-deep .fs-list-header .action-button {
    margin-left: 5px; }
    :host ::ng-deep .fs-list-header .action-button:first-child {
      margin-left: 0; }
  :host ::ng-deep .fs-list-header .mat-button {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0; }

:host ::ng-deep .fs-list-container.has-filter-input .heading-container {
  flex: 1 1 100%; }

:host ::ng-deep .fs-list-container:not(.has-filters):not(.has-actions):not(.has-heading) .fs-list-header-container {
  display: none; }

:host ::ng-deep .fs-list-head {
  display: table-header-group; }
  :host ::ng-deep .fs-list-head .fs-list-col {
    border-bottom: 2px solid #ddd;
    color: #999;
    padding: 8px;
    font-weight: normal;
    font-size: 13px;
    color: #8f8f8f; }
    :host ::ng-deep .fs-list-head .fs-list-col.sorting {
      cursor: pointer; }
      :host ::ng-deep .fs-list-head .fs-list-col.sorting:hover {
        background-color: #F6F6F6; }
    :host ::ng-deep .fs-list-head .fs-list-col .wrap {
      display: inline-flex;
      vertical-align: middle;
      white-space: nowrap; }
      :host ::ng-deep .fs-list-head .fs-list-col .wrap mat-icon {
        font-size: 14px;
        display: block;
        height: 14px;
        width: 14px; }
    :host ::ng-deep .fs-list-head .fs-list-col.sorting {
      background-image: none; }

:host ::ng-deep fs-list-status {
  font-size: 13px;
  color: #3a3a3a;
  display: block; }

:host ::ng-deep tfoot td {
  padding: 8px; }

::ng-deep .reorder-in-progress {
  user-select: none; }

::ng-deep .draggable-elem {
  opacity: 0.2; }

::ng-deep .hidden-mobile-menu-action {
  display: none !important; }

::ng-deep .hidden-mobile {
  display: none !important; }

@media only screen and (max-width: 600px) {
  ::ng-deep .fs-list-header:not(.has-filters) {
    flex-flow: row nowrap !important; }
    ::ng-deep .fs-list-header:not(.has-filters) .filter-input {
      display: none !important; }
  ::ng-deep .mat-form-field-infix {
    min-width: 90px !important;
    width: auto !important; }
  ::ng-deep .fs-list-header.has-filters {
    flex-flow: row wrap; } }

@media only screen and (max-width: 768px) {
  ::ng-deep .show-mobile {
    display: inline-block !important; }
  ::ng-deep .fs-list-actions .action-button {
    display: none; }
  ::ng-deep .row-inline-action.mobile-hide {
    display: none; }
  ::ng-deep .hidden-mobile-menu-action {
    display: block !important; } }
