:host {
  width: 100%;
  display: block; }

.fs-list-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px; }

:host ::ng-deep .fs-filter {
  margin-bottom: 0; }
  :host ::ng-deep .fs-filter .main-filter-bar {
    overflow: hidden; }

:host ::ng-deep .fs-list-body {
  display: table-row-group;
  position: relative; }
  :host ::ng-deep .fs-list-body.loading {
    opacity: 0.4; }
  :host ::ng-deep .fs-list-body .fs-list-col.sort-icon {
    cursor: move; }
  :host ::ng-deep .fs-list-body .fs-list-row:hover .fs-list-col {
    background-color: #f6f6f6; }
  :host ::ng-deep .fs-list-body .fs-list-row:hover .fs-list-col {
    background-color: #f6f6f6; }
  :host ::ng-deep .fs-list-body .fs-list-row:last-child .fs-list-col {
    border-bottom: 2px solid #ddd; }

:host ::ng-deep .fs-list-head .fs-list-row, :host ::ng-deep .fs-list-body .fs-list-row {
  display: table-row; }
  :host ::ng-deep .fs-list-head .fs-list-row.draggable, :host ::ng-deep .fs-list-body .fs-list-row.draggable {
    position: fixed;
    z-index: 9999; }
    :host ::ng-deep .fs-list-head .fs-list-row.draggable .fs-list-col, :host ::ng-deep .fs-list-body .fs-list-row.draggable .fs-list-col {
      background-color: #f6f6f6; }
  :host ::ng-deep .fs-list-head .fs-list-row:nth-child(1) .fs-list-col, :host ::ng-deep .fs-list-body .fs-list-row:nth-child(1) .fs-list-col {
    border-top: 0; }
  :host ::ng-deep .fs-list-head .fs-list-row:last-child .fs-list-col, :host ::ng-deep .fs-list-body .fs-list-row:last-child .fs-list-col {
    border-bottom: 2px solid #ddd; }
  :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col, :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col {
    display: table-cell;
    border-top: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle;
    outline: none; }
    :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col.left, :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col.left {
      text-align: left; }
    :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col.center, :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col.center {
      text-align: center; }
    :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col.right, :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col.right {
      text-align: right; }

:host ::ng-deep .fs-list-filters {
  display: flex;
  flex-flow: row wrap; }
  :host ::ng-deep .fs-list-filters.has-filters .title {
    flex: 1 1 100%; }
  :host ::ng-deep .fs-list-filters.reorder {
    flex-flow: row nowrap !important; }
  :host ::ng-deep .fs-list-filters .actions-container {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 100%; }
  :host ::ng-deep .fs-list-filters .title {
    align-self: center;
    font-weight: 600;
    font-size: 18px;
    color: #212537;
    margin-right: 10px; }
  :host ::ng-deep .fs-list-filters .fs-list-filter {
    flex: 100; }
  :host ::ng-deep .fs-list-filters .fs-list-actions {
    margin-left: auto; }
  :host ::ng-deep .fs-list-filters .action-button mat-icon {
    margin-right: 5px; }
  :host ::ng-deep .fs-list-filters .mat-button {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0; }

:host ::ng-deep .fs-list-head {
  display: table-header-group; }
  :host ::ng-deep .fs-list-head .fs-list-col {
    border-bottom: 2px solid #ddd;
    color: #999;
    font-size: 14px;
    padding: 8px;
    font-weight: normal;
    font-size: 13px;
    color: #8f8f8f; }
    :host ::ng-deep .fs-list-head .fs-list-col.sorting {
      cursor: pointer; }
      :host ::ng-deep .fs-list-head .fs-list-col.sorting:hover {
        background-color: #F6F6F6; }
    :host ::ng-deep .fs-list-head .fs-list-col .wrap {
      display: inline-flex;
      vertical-align: middle;
      white-space: nowrap; }
      :host ::ng-deep .fs-list-head .fs-list-col .wrap mat-icon {
        font-size: 14px;
        display: block;
        height: 14px;
        width: 14px; }
    :host ::ng-deep .fs-list-head .fs-list-col.sorting {
      background-image: none; }

:host ::ng-deep fs-list-status {
  font-size: 13px;
  color: #3a3a3a;
  padding-bottom: 10px;
  display: block; }

:host ::ng-deep tfoot td {
  padding: 8px; }

::ng-deep .reorder-in-progress {
  user-select: none; }

::ng-deep .draggable-elem {
  opacity: 0.2; }

::ng-deep .hidden-mobile-menu-action {
  display: none !important; }

::ng-deep .hidden-mobile {
  display: none !important; }

@media only screen and (max-width: 600px) {
  ::ng-deep .fs-list-filters:not(.has-filters) {
    flex-flow: row nowrap !important; }
    ::ng-deep .fs-list-filters:not(.has-filters) .filter-input {
      display: none !important; }
  ::ng-deep .mat-form-field-infix {
    min-width: 90px !important;
    width: auto !important; }
  ::ng-deep .fs-list-filters.has-filters {
    flex-flow: row wrap; } }

@media only screen and (max-width: 768px) {
  ::ng-deep .fs-list-actions .action-button {
    display: none; }
  ::ng-deep .hidden-mobile-menu-action {
    display: block !important; } }
