<ng-container *ngIf="!pagination.loadMoreEnabled; else loadMoreButton">
  <div class="paging" fxLayout="row"
       *ngIf="pagination?.pagesArray && pagination.pagesArray.length > 1">
    <div class="records"></div>
    <div fxFlex>
      <ul class="pages">
        <li class="first" [class.disabled]="!pagination.hasPrevPage">
          <a (click)="pagination.goFirst()">&laquo;</a>
        </li>
        <li class="previous" [class.disabled]="!pagination.hasPrevPage">
          <a (click)="pagination.goPrev()">‹</a>
        </li>
        <li class="page" *ngFor="let page of pagination.pagesArray;"
            [class.active]="pagination.isActive(page)"
        >
          <a (click)="pagination.goToPage(page)">{{ page }}</a>
        </li>
        <li class="next" [class.disabled]="!pagination.hasNextPage">
          <a (click)="pagination.goNext()">›</a>
        </li>
        <li class="last" [class.disabled]="!pagination.hasNextPage">
          <a (click)="pagination.goLast()">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
</ng-container>

<ng-template #loadMoreButton>
  <div class="fs-list-load-more" *ngIf="pagination.hasNextPage">
    <button mat-button (click)="pagination.goNext()">{{ pagination.loadMoreText }}</button>
  </div>
</ng-template>
