@import '../../styles/mixins';

.paging {
  display: flex;

  .pages {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    a {
      text-align: center;
      color: rgba(0, 0, 0, 0.87);
      text-decoration: none;
      font-size: 15px;
      cursor: pointer;
      display: flex;

      &:not(.page) {
       padding: 10px;
      }

      &.disabled {
        pointer-events: none;
        cursor: default;
        color: #d8d8d8;
      }
    }
    .number {
      font-size: 90%;
    }
  }
}

.fs-list-load-more button {
  width: 100%;
  margin-top: 10px;
}
