<ng-container *ngIf="!pagination.loadMoreEnabled; else loadMoreButton">
  <ng-container *ngIf="pagination?.pages">
    <a matRipple [matRippleRadius]="15" [matRippleCentered]="true" class="first" [class.disabled]="!pagination.hasPrevPage" (click)="pagination.goFirst()">
      <i class="material-icons">first_page</i>
    </a>

    <a matRipple [matRippleRadius]="15" [matRippleCentered]="true" class="previous" [class.disabled]="!pagination.hasPrevPage" (click)="pagination.goPrev()">
      <i class="material-icons">keyboard_arrow_left</i>
    </a>

    <div class="number">
      {{ pagination.page | fsFormatNumber }} of {{ pagination.pages | fsFormatNumber }}
    </div>

    <a matRipple [matRippleRadius]="15" [matRippleCentered]="true" class="next" [class.disabled]="!pagination.hasNextPage" (click)="pagination.goNext()">
      <i class="material-icons">keyboard_arrow_right</i>
    </a>

    <a matRipple [matRippleRadius]="15" [matRippleCentered]="true" class="last" [class.disabled]="!pagination.hasNextPage" (click)="pagination.goLast()">
      <i class="material-icons">last_page</i>
    </a>
  </ng-container>
</ng-container>

<ng-template #loadMoreButton>
  <div class="fs-list-load-more" *ngIf="pagination.hasNextPage">
    <button mat-button (click)="pagination.goNext()">{{ pagination.loadMoreText }}</button>
  </div>
</ng-template>
