<ng-container *ngIf="!restoreMode || (restoreMode && !restoreAction)">
  <ng-container *ngFor="let action of inlineRowActions; trackBy: trackByFn">
    <fs-list-row-inline-action class="row-inline-action row-inline-action-{{action.type}}"
                               [action]="action"
                               [ngClass]="{'mobile-hide': action.menu === undefined}"
                               (clicked)="actionClick(action, row, $event)">
    </fs-list-row-inline-action>
  </ng-container>
</ng-container>

<!-- Menu -->
<fs-menu class="row-menu-action"
         *ngIf="menuRowActions.length || (restoreMode && restoreAction)"
         (click)="clickOnTrigger($event)"
         #menuRef
>
  <!-- Case when we have usual menu actions -->
  <ng-container *ngIf="!restoreMode || (restoreMode && !restoreAction)">
    <ng-container *ngFor="let action of inlineRowActions; trackBy: trackByFn">
      <ng-template class="hidden-mobile-menu-action"
                   fs-menu-item
                   [link]="action.routerLink?.link"
                   [queryParams]="action.routerLink?.queryParams"
                   [target]="action.routerLink?.target"
                   [hidden]="action.menu !== undefined && !action.isShown">
        <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon>
        {{action.label}}
      </ng-template>
    </ng-container>

    <ng-container *ngFor="let action of menuRowActions; trackBy: trackByFn">
      <ng-container *ngIf="action.isGroup else simpleMenuItem">
        <fs-menu-group [label]="action.label">
          <ng-container *ngFor="let subAction of action.rowActions">
            <ng-template fs-menu-item
                         [link]="subAction.routerLink?.link"
                         [queryParams]="subAction.routerLink?.queryParams"
                         [target]="subAction.routerLink?.target"
                         [hidden]="!subAction.isShown"
                         (click)="actionClick(subAction, row, $event, menuRef);">
              <mat-icon *ngIf="subAction.icon">{{subAction.icon}}</mat-icon>
              {{subAction.label}}
            </ng-template>
          </ng-container>
        </fs-menu-group>
      </ng-container>
      <ng-template #simpleMenuItem>
        <ng-template fs-menu-item
                     [link]="action.routerLink?.link"
                     [queryParams]="action.routerLink?.queryParams"
                     [target]="action.routerLink?.target"
                     [hidden]="!action.isShown"
                     (click)="actionClick(action, row, $event, menuRef);">
          <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon>
          {{action.label}}
        </ng-template>
      </ng-template>
    </ng-container>
  </ng-container>

  <!-- Case when we have restore mode enabled and must hide menu actions -->
  <ng-container *ngIf="restoreMode && restoreAction">
    <ng-template fs-menu-item (click)="actionClick(restoreAction, row, $event, menuRef)">
      <mat-icon *ngIf="restoreAction.icon">{{restoreAction.icon}}</mat-icon>
      {{restoreAction.label}}
    </ng-template>
  </ng-container>
</fs-menu>
