<ng-container *ngIf="!restoreMode || (restoreMode && !restoreAction)">
  <ng-container *ngFor="let action of inlineRowActions; trackBy: trackByFn">
    <fs-list-row-inline-action 
      class="row-inline-action row-inline-action-{{action.type}}"
      [action]="action"
      [ngClass]="{'mobile-hide': action.menu === undefined}"
      (clicked)="actionClick(action, row, $event)"
      (fileSelect)="action.fileConfig.select($event, row, index)">
    </fs-list-row-inline-action>
  </ng-container>
</ng-container>

<!-- Menu -->
<fs-menu 
    class="row-menu-action"
    *ngIf="menuRowActions.length || (restoreMode && restoreAction)"
    #menuRef>
  <!-- Case when we have usual menu actions -->
  <ng-container *ngIf="!restoreMode || (restoreMode && !restoreAction)">
    <ng-container *ngFor="let action of inlineRowActions; trackBy: trackByFn">
      <ng-template 
          class="hidden-mobile-menu-action"
          fs-menu-item
          [link]="action.routerLink?.link"
          [queryParams]="action.routerLink?.queryParams"
          [target]="action.routerLink?.target"
          [hidden]="action.menu !== undefined && !action.isShown">
        <fs-list-row-menu-action
          [icon]="action.icon"
          [label]="action.label"
          [row]="row"
          [file]="action.fileConfig"
          (fileSelect)="action.fileConfig.select($event, row, index)"
          (fileError)="action.fileConfig.error && action.fileConfig.error($event)">
        </fs-list-row-menu-action>
      </ng-template>
    </ng-container>

    <ng-container *ngFor="let action of menuRowActions; trackBy: trackByFn">
      <ng-container *ngIf="action.isGroup else simpleMenuItem">
        <fs-menu-group [label]="action.label | actionLabel:row">
          <ng-container *ngFor="let subAction of action.rowActions">
            <ng-template 
                fs-menu-item
                [link]="subAction.routerLink?.link"
                [queryParams]="subAction.routerLink?.queryParams"
                [target]="subAction.routerLink?.target"
                [hidden]="!subAction.isShown"
                (click)="actionClick(subAction, row, $event, menuRef);">
              <fs-list-row-menu-action
                [icon]="subAction.icon"
                [label]="subAction.label"
                [row]="row"
                [file]="subAction.fileConfig"
                (fileSelect)="subAction.fileConfig.select($event, row, index)"
                (fileError)="subAction.fileConfig.error && subAction.fileConfig.error($event)">
              </fs-list-row-menu-action>
            </ng-template>
          </ng-container>
        </fs-menu-group>
      </ng-container>
      <ng-template #simpleMenuItem>
        <ng-template 
            fs-menu-item
            [link]="action.routerLink?.link"
            [queryParams]="action.routerLink?.queryParams"
            [target]="action.routerLink?.target"
            [hidden]="!action.isShown"
            (click)="actionClick(action, row, $event, menuRef);">
          <fs-list-row-menu-action
            [icon]="action.icon"
            [label]="action.label"
            [row]="row"
            [file]="action.fileConfig"
            (fileSelect)="action.fileConfig.select($event, row, index)"
            (fileError)="action.fileConfig.error && action.fileConfig.error($event)">
          </fs-list-row-menu-action>
        </ng-template>
      </ng-template>
    </ng-container>
  </ng-container>

  <!-- Case when we have restore mode enabled and must hide menu actions -->
  <ng-container *ngIf="restoreMode && restoreAction">
    <ng-template fs-menu-item (click)="actionClick(restoreAction, row, $event, menuRef)">
      <mat-icon *ngIf="restoreAction.icon">{{restoreAction.icon}}</mat-icon>
      {{restoreAction.label | actionLabel:row}}
    </ng-template>
  </ng-container>
</fs-menu>
