<td *ngIf="reorderEnabled && reorderPosition === ReorderPosition.Left" class="fs-list-col drag-col"></td>

<td *ngIf="selection" class="fs-list-col fs-list-col-selection"></td>
<ng-container *ngFor="let column of columns; trackBy: trackByFn">
  <td fs-list-footer-cell
      *ngIf="!column.footerColspanned"
      [column]="column"
      [row]="row"
      [rowIndex]="rowIndex"
      [ngClass]="column.footerConfigs.classesArray"
      [attr.colspan]="column.footerConfigs.colspan"
      [attr.width]="column.width">
  </td>
</ng-container>

<!-- Drag -->
<td *ngIf="hasRowActions && !reorderEnabled" class="fs-list-col row-actions"></td>

<!-- Row Actions -->
<td *ngIf="!(reorderEnabled && reorderStrategy === ReorderStrategy.Manual)" class="fs-list-col drag-col"></td>
