@if (leftDragDropEnabled) {
  <td class="fs-list-col drag-col"></td>
}
@if (selection) {
  <td class="fs-list-col fs-list-col-selection"></td>
}
@for (column of columns; track trackByFn($index)) {
  @if (!column.footerColspanned) {
    <td
      fs-list-footer-cell
      [column]="column"
      [row]="row()"
      [rowIndex]="rowIndex"
      [ngClass]="column.footerConfigs.classesArray"
      [attr.colspan]="column.footerConfigs.colspan"
      [attr.width]="column.width">
    </td>
  }
}
<!-- Drag -->
@if (rightDragDropEnabled) {
  <td class="fs-list-col actions-col"></td>
}
<!-- Row Actions -->