<td
  *ngIf="leftDragDropEnabled"
  class="fs-list-col drag-col">
</td>
<td
  *ngIf="selection"
  class="fs-list-col fs-list-col-selection">
</td>
<ng-container *ngFor="let column of columns; trackBy: trackByFn">
  <td
    *ngIf="!column.footerColspanned"
    fs-list-footer-cell
    [column]="column"
    [row]="row()"
    [rowIndex]="rowIndex"
    [ngClass]="column.footerConfigs.classesArray"
    [attr.colspan]="column.footerConfigs.colspan"
    [attr.width]="column.width">
  </td>
</ng-container>
<!-- Drag -->
<td
  *ngIf="rightDragDropEnabled"
  class="fs-list-col actions-col">
</td>
<!-- Row Actions -->
