<!-- Buttons -->
<ng-container *ngIf="!manualReorderActivated">
  <span *ngFor="let action of menuActions" class="action-button">
    <ng-container [ngSwitch]="action.type">
      <!-- Basic button -->
      <button type="button"
              *ngSwitchCase="'basic'"
              mat-button
              (click)="action.click($event)"
              [ngClass]="action.classArray"
              [disabled]="action.isReorderAction && reorderDisabled"
              [tabIndex]="action.tabIndex"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>

              <!-- Raised button -->
      <button type="button"
              *ngSwitchDefault
              mat-raised-button
              (click)="action.click($event)"
              [ngClass]="action.classArray"
              [disabled]="action.isReorderAction && reorderDisabled"
              [tabIndex]="action.tabIndex"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>

              <!-- Icon button -->
      <button type="button"
              *ngSwitchCase="'icon'"
              mat-icon-button
              (click)="action.click($event)"
              [ngClass]="action.classArray"
              [disabled]="action.isReorderAction && reorderDisabled"
              [tabIndex]="action.tabIndex"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>

              <!-- Fab button -->
      <button type="button"
              *ngSwitchCase="'fab'"
              mat-fab
              (click)="action.click($event)"
              [ngClass]="action.classArray"
              [disabled]="action.isReorderAction && reorderDisabled"
              [tabIndex]="action.tabIndex"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>

              <!-- Mini Fab button -->
      <button type="button"
              *ngSwitchCase="'mini-fab'"
              mat-mini-fab
              (click)="action.click($event)"
              [ngClass]="action.classArray"
              [disabled]="action.isReorderAction && reorderDisabled"
              [tabIndex]="action.tabIndex"
      >
        <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
      </button>

      <ng-template #buttonContent let-value="value">
        <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon> {{action.label}}
      </ng-template>
    </ng-container>
</span>
</ng-container>
<!-- /Buttons -->

<!-- menu -->
<button type="button"
        mat-icon-button
        class="menu-button"
        *ngIf="!manualReorderActivated"
        [fsMenuTriggerFor]="rowActionsRef"
        [ngClass]="{
                    'hidden': !kebabActions.length,
                    'show-mobile': !kebabActions.length && menuActions.length
                  }">
  <mat-icon>more_vert</mat-icon>
</button>
<fs-menu #rowActionsRef>
  <ng-template ngFor
               let-action
               [ngForOf]="menuActions"
  >
    <ng-template fs-menu-item
                 class="hidden-mobile-menu-action"
                 (click)="action.click($event)"
                 [fsClass]="action.classArray"
    >
      <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon> {{action.label}}
    </ng-template>
  </ng-template>
  <ng-template ngFor
               let-action
               [ngForOf]="kebabActions"
  >
    <ng-template fs-menu-item
                 (click)="action.click($event)"
                 [fsClass]="action.classArray"
    >
      <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon> {{action.label}}
    </ng-template>
  </ng-template>
</fs-menu>

<!-- /menu -->

<!-- Reorder Button -->
<button type="button"
        mat-raised-button
        [disabled]="reorderDisabled"
        *ngIf="manualReorderActivated"
        (click)="finishReorder()"
        tabindex="0">
  Done
</button>
<!-- /Reorder Button -->
