:host {
  width: 100%;
  display: block; }

.fs-list-table {
  display: table;
  width: 100%;
  border-collapse: collapse; }

:host ::ng-deep .fs-filter {
  margin-bottom: 0; }

:host ::ng-deep .fs-list-body {
  display: table-row-group;
  position: relative; }
  :host ::ng-deep .fs-list-body.loading {
    opacity: 0.4; }
  :host ::ng-deep .fs-list-body .fs-list-row:hover .fs-list-col {
    background-color: #f6f6f6; }
  :host ::ng-deep .fs-list-body .fs-list-row:last-child .fs-list-col {
    border-bottom: 2px solid #ddd; }

:host ::ng-deep .fs-list-head .fs-list-row, :host ::ng-deep .fs-list-body .fs-list-row {
  display: table-row; }
  :host ::ng-deep .fs-list-head .fs-list-row:nth-child(1) .fs-list-col, :host ::ng-deep .fs-list-body .fs-list-row:nth-child(1) .fs-list-col {
    border-top: 0; }
  :host ::ng-deep .fs-list-head .fs-list-row:last-child .fs-list-col, :host ::ng-deep .fs-list-body .fs-list-row:last-child .fs-list-col {
    border-bottom: 2px solid #ddd; }
  :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col, :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col {
    display: table-cell;
    border-top: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle;
    outline: none; }
    :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col.left, :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col.left {
      text-align: left; }
    :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col.center, :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col.center {
      text-align: center; }
    :host ::ng-deep .fs-list-head .fs-list-row .fs-list-col.right, :host ::ng-deep .fs-list-body .fs-list-row .fs-list-col.right {
      text-align: right; }

:host ::ng-deep .fs-list-filters .fs-list-actions {
  margin-left: 10px; }
  :host ::ng-deep .fs-list-filters .fs-list-actions .action-button mat-icon {
    margin-right: 5px; }
  :host ::ng-deep .fs-list-filters .fs-list-actions .mat-button {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0; }

:host ::ng-deep .fs-list-head {
  display: table-header-group; }
  :host ::ng-deep .fs-list-head .fs-list-col {
    border-bottom: 2px solid #ddd;
    color: #999;
    font-size: 14px;
    padding: 8px;
    font-weight: normal;
    font-size: 13px;
    color: #8f8f8f; }
    :host ::ng-deep .fs-list-head .fs-list-col.sorting {
      cursor: pointer; }
      :host ::ng-deep .fs-list-head .fs-list-col.sorting:hover {
        background-color: #F6F6F6; }
    :host ::ng-deep .fs-list-head .fs-list-col .wrap {
      display: inline-flex;
      vertical-align: middle;
      white-space: nowrap; }
      :host ::ng-deep .fs-list-head .fs-list-col .wrap mat-icon {
        font-size: 14px;
        display: block;
        height: 14px;
        width: 14px; }
    :host ::ng-deep .fs-list-head .fs-list-col.sorting {
      background-image: none; }

:host ::ng-deep fs-list-status {
  font-size: 13px;
  color: #3a3a3a;
  padding-bottom: 10px;
  display: block; }
