<!-- Drag -->
@if (leftDragDropEnabled) {
  <ng-container *ngTemplateOutlet="dragCell"></ng-container>
}
<!-- Selection -->
@if (selection && !(selection.disabled$ | async)) {
  <td class="fs-list-col fs-list-col-selection">
    @if (!isGroupFooterRow()) {
      <mat-checkbox
        (change)="selectRow($event)"
        [checked]="selected"
        [indeterminate]="indeterminateSelected">
      </mat-checkbox>
    }
  </td>
}
<!-- Content -->
@for (column of columns; track trackByFn($index); let isFirst = $first) {
  @if ((isGroupRow() && !column.groupHeaderColspanned) || (isGroupFooterRow() && !column.groupFooterColspanned) || (!isGroupRow() && !isGroupFooterRow() && !column.cellColspanned)) {
    <td
      fs-cell
      [column]="column"
      [row]="row()"
      [rowIndex]="rowIndex"
      [class]="(isGroupRow() && column.groupHeaderConfigs.classesString)
        || (isGroupFooterRow() && column.groupFooterConfigs.classesString)
        || (!isGroupFooterRow() && column.cellConfigs.classesString)"
      [ngClass]="{ 'primary-col': isFirst }"
      [attr.colspan]="(isGroupRow() && column.groupHeaderConfigs.colspan)
        || (isGroupFooterRow() && column.groupFooterConfigs.colspan)
        || column.cellConfigs.colspan"
      [attr.width]="column.width">
    </td>
  }
}
<!-- Drag -->
@if (rightDragDropEnabled) {
  <ng-container *ngTemplateOutlet="dragCell"></ng-container>
}
<!-- Row Actions -->
@if (hasRowActions && !(reorderEnabled && reorderStrategy === ReorderStrategy.Manual)) {
  <td class="fs-list-col actions-col">
    @if (!isGroupFooterRow()) {
      <fs-list-row-actions
        [row]="row()"
        [index]="rowIndex"
        [rowActions]="rowActions"
        [menuRowActions]="menuRowActions"
        [inlineRowActions]="inlineRowActions"
        [restoreAction]="restoreAction"
        [restoreMode]="restoreMode"
        [rowRemoved]="rowRemoved">
      </fs-list-row-actions>
    }
  </td>
}
<ng-template #dragCell>
  @if (dragCellVisible() && !isGroupFooterRow()) {
    <td
        class="fs-list-col drag-col"
        [class.drag-disabled]="isDragDisabled"
        (mousedown)="dragStart($event)"
        (touchstart)="dragStart($event)">
      <mat-icon>
        drag_handle
      </mat-icon>
    </td>
  } @else {
    <td class="fs-list-col drag-col"></td>
  }
</ng-template>