:host {
  &.drag-hidden {
    display: none;
  }

  &.draggable {
    opacity: 0.8;
    position: fixed;
    z-index: 9999;
    box-shadow: 2px 2px 2px 0 rgba(158,158,158,0.65);
    border-radius: 5px;

    td {
      border: none;
      background-color: #fff;
    }
  }

  &.draggable-elem td {
    background-color: #c3c3c3;
  }

  &.fs-list-row-clickable {
    cursor: pointer;
  }
}


td {
  &.drag-col {
    width: 1% !important;
    white-space: nowrap;
    text-align: center;
    cursor: grab;

    &.drag-disabled {
      opacity: 0.4;
      cursor: no-drop;
    }

    mat-icon {
      display: flex;
    }
  }

  &.fs-list-col-selection {
    padding: 10px;
    width: 1% !important;
  }

  &.actions-col {
    width: 1%;
    white-space: nowrap;
    overflow: hidden;

    .row-inline-action {
      margin-left: 12px;
      display: inline-block;

      &:first-child {
        margin-left: 0;
      }
    }

    .row-inline-action-icon,
    .row-inline-action-fab,
    .row-inline-action-mini-fab,
    .row-menu-action {
      width: 35px;
      justify-content: center;
      align-items: center;
    }
  }

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}