<!-- Drag -->
<td class="fs-list-col drag-col"
    *ngIf="reorderEnabled && reorderPosition === ReorderPosition.Left"
    (mousedown)="dragStart($event, activeRow)"
    (touchstart)="dragStart($event, activeRow)"
>
  <mat-icon>drag_handle</mat-icon>
</td>

<!-- Selection -->
<ng-container *ngIf="selection">
  <td class="fs-list-col fs-list-col-selection">
    <mat-checkbox (change)="selectRow($event)" [checked]="selected"></mat-checkbox>
  </td>
</ng-container>

<!-- Content -->
<ng-container *ngFor="let column of columns">
  <td fs-cell
      *ngIf="!column.cellColspanned"
      [column]="column"
      [row]="row"
      [rowIndex]="rowIndex"
      [ngClass]="column.cellConfigs.classesArray"
      [attr.colspan]="column.cellConfigs.colspan"
      [attr.width]="column.width">
  </td>
</ng-container>

<!-- Drag -->
<td class="fs-list-col drag-col"
    *ngIf="reorderEnabled && reorderPosition === ReorderPosition.Right"
    (mousedown)="dragStart($event, activeRow)"
    (touchstart)="dragStart($event, activeRow)"
>
  <mat-icon>drag_handle</mat-icon>
</td>

<!-- Row Actions -->
<td *ngIf="rowActions?.length > 0 && !reorder" class="fs-list-col row-actions">
  <ng-template [ngIf]="!restoreMode || (restoreMode && !restoreAction)">
    <span *ngFor="let action of inlineRowActions"
          class="row-inline-action row-inline-action-{{action.type}}"
          [ngClass]="{'mobile-hide': action.menu === undefined}"
    >
      <ng-container *ngIf="action.isShown" [ngSwitch]="action.type">
        <!-- Basic button -->
        <button type="button"
                *ngSwitchCase="'basic'"
                mat-button
                (click)="actionClick(action, row, $event)"
                [ngClass]="action.classArray"
        >
          <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
        </button>

        <!-- Raised button -->
        <button type="button"
                *ngSwitchCase="'raised'"
                mat-raised-button
                (click)="actionClick(action, row, $event)"
                [ngClass]="action.classArray"
        >
          <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
        </button>

        <!-- Icon button -->
        <button type="button"
                *ngSwitchCase="'icon'"
                mat-icon-button
                (click)="actionClick(action, row, $event)"
                [ngClass]="action.classArray"
        >
          <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
        </button>

        <!-- Fab button -->
        <button type="button"
                *ngSwitchCase="'fab'"
                mat-fab
                (click)="actionClick(action, row, $event)"
                [ngClass]="action.classArray"
        >
          <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
        </button>

        <!-- Mini Fab button -->
        <button type="button"
                *ngSwitchCase="'mini-fab'"
                mat-mini-fab
                (click)="actionClick(action, row, $event)"
                [ngClass]="action.classArray"
        >
          <ng-template [ngTemplateOutlet]="buttonContent"></ng-template>
        </button>

        <ng-template #buttonContent let-value="value">
          <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon> {{action.label}}
        </ng-template>
      </ng-container>
    </span>
  </ng-template>

  <!-- Menu -->
  <fs-menu class="row-menu-action"
           *ngIf="menuRowActions.length || (restoreMode && restoreAction)"
           (click)="$event.stopPropagation();">
    <!-- Case when we have usual menu actions -->
    <ng-template [ngIf]="!restoreMode || (restoreMode && !restoreAction)">
      <ng-container *ngFor="let action of inlineRowActions">
        <ng-template class="hidden-mobile-menu-action"
                     fs-menu-item
                     [hidden]="action.menu !== undefined && !action.isShown">
          <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon>
          {{action.label}}
        </ng-template>
      </ng-container>

      <ng-container *ngFor="let action of menuRowActions">
        <ng-template fs-menu-item
                     [hidden]="!action.isShown"
                     (click)="actionClick(action, row, $event);">
          <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon>
          {{action.label}}
        </ng-template>
      </ng-container>
    </ng-template>

    <!-- Case when we have restore mode enabled and must hide menu actions -->
    <ng-container *ngIf="restoreMode && restoreAction">
      <ng-template fs-menu-item (click)="actionClick(restoreAction, row, $event)">
        <mat-icon *ngIf="restoreAction.icon">{{restoreAction.icon}}</mat-icon>
        {{restoreAction.label}}
      </ng-template>
    </ng-container>
  </fs-menu>
</td>
