<!-- Drag -->
<ng-container *ngIf="reorderController.leftReorderActivated$ | async">
  <ng-container *ngTemplateOutlet="dragCell"></ng-container>
</ng-container>

<!-- Selection -->
<ng-container *ngIf="selection">
  <td class="fs-list-col fs-list-col-selection">
    <ng-container *ngIf="!row.isFooter">
      <mat-checkbox (change)="selectRow($event)"
                    [checked]="selected"
                    [indeterminate]="indeterminateSelected">
      </mat-checkbox>
    </ng-container>
  </td>
</ng-container>

<!-- Content -->
<ng-container *ngFor="let column of columns; trackBy: trackByFn; let isFirst = first">
  <td fs-cell
      *ngIf="(isGroupRow && !column.groupHeaderColspanned)
        || (isGroupFooterRow && !column.groupFooterColspanned)
        || (!isGroupRow && !isGroupFooterRow && !column.cellColspanned)"
      [column]="column"
      [row]="row"
      [rowIndex]="rowIndex"
      [class]="column.cellConfigs.classesString"
      [ngClass]="{ 'primary-col': isFirst }"
      [attr.colspan]="(isGroupRow && column.groupHeaderConfigs.colspan)
        || (isGroupFooterRow && column.groupFooterConfigs.colspan)
        || column.cellConfigs.colspan"
      [attr.width]="column.width"
  >
  </td>
</ng-container>

<!-- Drag -->
<ng-container *ngIf="reorderController.rightReorderActivated$ | async">
  <ng-container *ngTemplateOutlet="dragCell"></ng-container>
</ng-container>

<!-- Row Actions -->
<td *ngIf="hasRowActions && !(reorderController.manualReorderActivated$ | async)" class="fs-list-col row-actions">
  <ng-container *ngIf="!isGroupFooterRow">
    <fs-list-row-actions [row]="row"
                         [index]="rowIndex"
                         [rowActions]="rowActions"
                         [menuRowActions]="menuRowActions"
                         [inlineRowActions]="inlineRowActions"
                         [restoreAction]="restoreAction"
                         [restoreMode]="restoreMode"
                         [rowRemoved]="rowRemoved"
    ></fs-list-row-actions>
  </ng-container>
</td>

<ng-template #dragCell>
  <ng-container *ngIf="dragCellVisible && !isGroupFooterRow; else emptyCell">
    <td class="fs-list-col drag-col"
        (mousedown)="dragStart($event)"
        (touchstart)="dragStart($event)"
    >
      <mat-icon>drag_handle</mat-icon>
    </td>
  </ng-container>
  <ng-template #emptyCell>
    <td class="fs-list-col drag-col"></td>
  </ng-template>
</ng-template>
