<fs-examples title="List Component">
  <fs-example title="Actions" componentName="actions">
    <actions></actions>
  </fs-example>

  <fs-example title="Row Actions" componentName="row-actions">
      <row-actions></row-actions>
    </fs-example>

  <fs-example title="Filters" componentName="filters">
    <filters></filters>
  </fs-example>

  <fs-example title="Sortable" componentName="sortable">
    <sortable></sortable>
  </fs-example>

  <fs-example title="Kitchen Sink" componentName="kitchensink">
    <kitchensink></kitchensink>
  </fs-example>
</fs-examples>
