<div class="wrap">
  <span class="title">
    @if (!column.headerTemplate) {
      {{ column.title }}
    }
    @if (column.headerTemplate) {
      <ng-template
        [ngTemplateOutlet]="column.headerTemplate"
        [ngTemplateOutletContext]="cellContext">
      </ng-template>
    }
  </span>
  @if (column.ordered) {
    <div
      class="direction"
      >
      @switch (column.sortingDirection$ | async) {
        @case ('asc') {
          <mat-icon>
            arrow_downward
          </mat-icon>
        }
        @case ('desc') {
          <mat-icon>
            arrow_upward
          </mat-icon>
        }
      }
    </div>
  }
</div>