<div class="wrap">
    <span class="title">
      <ng-template [ngIf]="!column.headerTemplate">{{column.title}}</ng-template>
      <ng-template
        [ngIf]="column.headerTemplate"
        [ngTemplateOutlet]="column.headerTemplate"
        [ngTemplateOutletContext]="cellContext">
      </ng-template>
    </span>
  <div class="direction" *ngIf="column.ordered" [ngSwitch]="column.sortingDirection">
    <mat-icon class="material-icons" role="img" aria-label="arrow_downward" *ngSwitchCase="0">arrow_downward</mat-icon>
    <mat-icon class="material-icons" role="img" aria-label="arrow_upward" *ngSwitchCase="1">arrow_upward</mat-icon>
  </div>
</div>
