@import '../tools/assets/playground.scss';
@import "~@firestitch/message/styles";
@import "~@firestitch/selection/styles.scss";
@import "~@firestitch/chip/styles";
@import "~@firestitch/drawer/styles";
@import '~@firestitch/datepicker/styles';
@import "~@firestitch/skeleton/styles";
@import '~@angular/material/theming';

@include fs-selection($mat-blue);
@include fs-chip($mat-blue);
@include fs-drawer($mat-blue);
@include fs-date-picker($mat-blue);
