.infinite-records {
  color: #999;
  font-size: 13px;
  margin-left: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block; }
  .infinite-records a {
    color: #546E7A; }
  .infinite-records .order-toggle {
    cursor: pointer;
    padding-left: 4px; }
  .infinite-records .saved-filters {
    float: right;
    display: flex; }
