.infinite-records {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
  font-size: 13px; }
  .infinite-records a {
    color: #546E7A; }
  .infinite-records .order-toggle {
    cursor: pointer;
    padding-left: 4px; }
  .infinite-records .saved-filters {
    float: right;
    display: flex; }
